<template>
  <section class="mt8">
    <div class="container">
      <nav  class="breadcrumb">
        <ol>
          <li class="breadcrumb-item active" aria-current="page">Home >  </li>
          <li class="breadcrumb-item active" aria-current="page">Preschool >  </li>
          <li class="breadcrumb-item active" aria-current="page">Programs </li>
        </ol>
      </nav>
      <v-tabs show-arrows v-model="active" center-active grow>
        <v-tab
          ><nuxt-link to="/international-preschool"
            ><div>Intro</div></nuxt-link
          ></v-tab
        >
        <v-tab
          ><nuxt-link to="/international-preschool/philosophy"
            ><div>Philosophy</div></nuxt-link
          ></v-tab
        >
        <v-tab
          ><nuxt-link to="/international-preschool/curriculam"
            ><div>Curriculum</div></nuxt-link
          ></v-tab
        >
        <v-tab
          ><nuxt-link to="/international-preschool/programs"
            ><div>Programs</div></nuxt-link
          ></v-tab
        >
        <v-tab
          ><nuxt-link to="/international-preschool/franchise-opportunity"
            ><div>Franchise Programs</div></nuxt-link
          ></v-tab
        >
      </v-tabs>
      <AppPrograms/>
    </div>
  </section>
</template>
<script>
import AppPrograms from "../../../components/InternationalPreschool/AppPrograms";

export default {
  components: {
    AppPrograms
  },
  data: () => ({
    active: 3,
    activeProgram:0
  }),
  head () {
    return {
      title: 'Our Preschool Programs | The Beanstalkedu',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Our International EYFS curriculum also incorporates Toddlers – a unique mother toddler program for parents with kids aged 6 months-1.5 years. '
        }
      ],
      meta: [
        {
          hid: 'keywords',
          name: 'keywords',
          content: 'toddler programs'
        }
      ],
      link: [
          { rel: 'canonical', href: 'https://franchise.beanstalkedu.com/montessori-teacher-training/international-preschool/programs/' }
            ]
    }
  },
};
</script>
<style lang="scss" scoped>
.v-card__title {
  background: #00000070 !important;
}

ul {
  list-style: none;
}
</style>
