<template>
  <section>
    <div class="content pa-md-5">
      <section
        class="py-md-5"
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
      >
        <v-row>
          <v-col cols="12" md="6">
              <h2 class="globalTitle">International Kindergarten II</h2>

            <p class="overline">(3.5 yrs to 4.5 yrs)</p>
            <!-- <p
                        class="body-1"
                        >Toddler years are the most frightening for parents! For kids, it’s a critical period, a part of the absorbent period as termed by Dr Maria Montessori. The toddlers brain in like a sponge. Which is why it’s referred to as the ‘absorbent period’.</p>-->
            <p class="body-1">What most children do by this age: –</p>
          </v-col>
          <v-col cols="12" md="6">
           <iframe src="https://www.youtube.com/embed/fVAn-KIY6_U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          </v-col>
        </v-row>
      </section>
      <section
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
      >
        <v-row>
          <v-col cols="12" md="6">
            <v-card class="mx-auto cardWithBorder" min-height="570">
              <v-img
                class="white--text align-end"
                height="300px"
                :src="require(`@/assets/img/ip/programs/ik21.webp`)"
              >
                <v-card-title>Social and Emotional</v-card-title>
              </v-img>

              <v-card-text class="text--primary text-left">
                <ul>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Enjoys doing new
                    things
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Plays “Mom” and
                    “Dad”
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Is more and more
                    creative with make-believe play
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Would rather play
                    with other children than by himself
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Cooperates with
                    other children
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Often can’t tell
                    what’s real and what’s make-believe
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Talks about what she
                    likes and what she is interested in
                  </li>
                </ul>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" md="6">
            <v-card class="mx-auto cardWithBorder" min-height="570">
              <v-img
                class="white--text align-end"
                height="300px"
                :src="require(`@/assets/img/ip/programs/ik22.webp`)"
              >
                <v-card-title>Language/Communication</v-card-title>
              </v-img>

              <v-card-text class="text--primary text-left">
                <ul>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Knows some basic
                    rules of grammar, such as correctly using “he” and “she”
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Sings a song or says
                    a poem from memory such as the “Itsy Bitsy Spider” or the
                    “Wheels on the Bus”
                  </li>
                  <li><v-icon>mdi-information-outline</v-icon>Tells stories</li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Can say first and
                    last nameNo image available for this milestone
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Child throwing ball
                  </li>
                </ul>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" md="6">
            <v-card class="mx-auto cardWithBorder" min-height="570">
              <v-img
                class="white--text align-end"
                height="300px"
                :src="require(`@/assets/img/ip/programs/ik23.webp`)"
              >
                <v-card-title>
                  Cognitive
                  <br />(learning, thinking, problem solving)
                </v-card-title>
              </v-img>

              <v-card-text class="text--primary text-left">
                <ul>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Names some colors
                    and some numbers
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Understands the idea
                    of counting
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Starts to understand
                    time
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Remembers parts of a
                    story
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Understands the idea
                    of “same” and “different”
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Uses scissors
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Starts to copy some
                    capital letters
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Plays board or card
                    games
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Tells you what he
                    thinks is going to happen next in a book
                  </li>
                </ul>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" md="6">
            <v-card class="mx-auto cardWithBorder" min-height="570">
              <v-img
                class="white--text align-end"
                height="300px"
                :src="require(`@/assets/img/ip/programs/ik24.webp`)"
              >
                <v-card-title>Movement/Physical Development</v-card-title>
              </v-img>

              <v-card-text class="text--primary text-left">
                <ul>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Hops and stands on
                    one foot up to 2 seconds
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Catches a bounced
                    ball most of the time
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Pours, cuts with
                    supervision, and mashes own food
                  </li>
                </ul>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </section>
    </div>
  </section>
</template>
<style lang="scss" scoped>
.v-card__title {
  background: #00000070 !important;
}

ul {
  list-style: none;
}
</style>
