<template>
    <section>
     <div class="content pa-md-5">
            <section
              class="py-md-5"
              data-aos="fade-up"
              data-aos-duration="1500"
              data-aos-easing="ease-in"
              data-aos-once="true"
            >
              <v-row>
                <v-col cols="12" md="6">

                    <h2 class="globalTitle">International Kindergarten I</h2>
                  <p class="overline">(2.5 yrs to 3.5 yrs)</p>
                  <p class="body-1">
                    As your child grows, you keep noticing how your child plays,
                    learns, speaks, acts, and moves. These offers important
                    clues about your child’s development.
                  </p>
                  <p class="body-1">What most children do by this age: –</p>
                </v-col>
                <v-col cols="12" md="6">
                 <iframe src="https://www.youtube.com/embed/fVAn-KIY6_U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </v-col>
              </v-row>
            </section>
            <section
              data-aos="fade-up"
              data-aos-duration="1500"
              data-aos-easing="ease-in"
              data-aos-once="true"
            >
              <v-row>
                <v-col cols="12" md="6">
                  <v-card class="mx-auto cardWithBorder" min-height="580">
                    <v-img
                      class="white--text align-end"
                      height="300px"
                      :src="require(`@/assets/img/ip/programs/ik11.webp`)"
                    >
                      <v-card-title>Social and Emotional</v-card-title>
                    </v-img>

                    <v-card-text class="text--primary text-left">
                      <ul>
                        <li>
                          <v-icon>mdi-information-outline</v-icon> Copies adults and friends
                        
                        </li>
                        <li>
                          <v-icon>mdi-information-outline</v-icon>Shows affection for friends
                          without prompting
                        </li>
                        <li><v-icon>mdi-information-outline</v-icon>Takes turns in games</li>
                        <li>
                          <v-icon>mdi-information-outline</v-icon>Shows concern for crying
                          friend
                        </li>
                        <li>
                          <v-icon>mdi-information-outline</v-icon>Understands the idea of
                          “mine” and “his” or “hers”
                        </li>
                        <li>
                          <v-icon>mdi-information-outline</v-icon>Shows a wide range of
                          emotions
                        </li>
                        <li>
                          <v-icon>mdi-information-outline</v-icon>Separates easily from mom
                          and dad
                        </li>
                        <li>
                          <v-icon>mdi-information-outline</v-icon>May get upset with major
                          changes in routineNo image available for this
                          milestone
                        </li>
                        <li>
                          <v-icon>mdi-information-outline</v-icon>Dresses and undresses self
                        
                        </li>
                        <li><v-icon>mdi-information-outline</v-icon>Toddler hugging doll</li>
                      </ul>
                    </v-card-text>
                  </v-card>
                </v-col>
                <v-col cols="12" md="6">
                  <v-card class="mx-auto cardWithBorder" min-height="580">
                    <v-img
                      class="white--text align-end"
                      height="300px"
                      :src="require(`@/assets/img/ip/programs/ik12.webp`)"
                    >
                      <v-card-title>Language/Communication</v-card-title>
                    </v-img>

                    <v-card-text class="text--primary text-left">
                      <ul>
                        <li>
                          <v-icon>mdi-information-outline</v-icon>Follows instructions with 2
                          or 3 steps
                        </li>
                        <li>
                          <v-icon>mdi-information-outline</v-icon>Can name most familiar
                          things
                        </li>
                        <li>
                          <v-icon>mdi-information-outline</v-icon>Understands words like “in,”
                          “on,” and “under”
                        </li>
                        <li>
                          <v-icon>mdi-information-outline</v-icon>Says first name, age, and
                          sexNo image available for this milestone
                        </li>
                        <li><v-icon>mdi-information-outline</v-icon>Names a friend</li>
                        <li>
                          <v-icon>mdi-information-outline</v-icon>Says words like “I,” “me,”
                          “we,” and “you” and some plurals (cars, dogs, cats)
                        </li>
                        <li>
                          <v-icon>mdi-information-outline</v-icon>Talks well enough for
                          strangers to understand most of the time
                        </li>
                        <li>
                          <v-icon>mdi-information-outline</v-icon>Carries on a conversation
                          using 2 to 3 sentences
                        </li>
                      </ul>
                    </v-card-text>
                  </v-card>
                </v-col>
                <v-col cols="12" md="6">
                  <v-card class="mx-auto cardWithBorder" min-height="580">
                    <v-img
                      class="white--text align-end"
                      height="300px"
                      :src="require(`@/assets/img/ip/programs/ik13.webp`)"
                    >
                      <v-card-title>
                        Cognitive
                        <br />(learning, thinking, problem solving)
                      </v-card-title>
                    </v-img>

                    <v-card-text class="text--primary text-left">
                      <ul>
                        <li>
                          <v-icon>mdi-information-outline</v-icon>Can work toys with buttons,
                          levers, and moving parts
                        </li>
                        <li>
                          <v-icon>mdi-information-outline</v-icon>Plays make-believe with
                          dolls, animals, and people
                        </li>
                        <li>
                          <v-icon>mdi-information-outline</v-icon>Does puzzles with 3 or 4
                          pieces
                        </li>
                        <li>
                          <v-icon>mdi-information-outline</v-icon>Understands what “two” means
                        </li>
                        <li>
                          <v-icon>mdi-information-outline</v-icon>Copies a circle with pencil
                          or crayon
                        </li>
                        <li>
                          <v-icon>mdi-information-outline</v-icon>Turns book pages one at a
                          time
                        </li>
                        <li>
                          <v-icon>mdi-information-outline</v-icon>Builds towers of more than 6
                          blocks
                        </li>
                        <li>
                          <v-icon>mdi-information-outline</v-icon>Screws and unscrews jar lids
                          or turns door handle
                        </li>
                      </ul>
                    </v-card-text>
                  </v-card>
                </v-col>
                <v-col cols="12" md="6">
                  <v-card class="mx-auto cardWithBorder" min-height="580">
                    <v-img
                      class="white--text align-end"
                      height="300px"
                      :src="require(`@/assets/img/ip/programs/ik14.webp`)"
                    >
                      <v-card-title>Movement/Physical Development</v-card-title>
                    </v-img>

                    <v-card-text class="text--primary text-left">
                      <ul>
                        <li><v-icon>mdi-information-outline</v-icon>Climbs well</li>
                        <li><v-icon>mdi-information-outline</v-icon>Runs easily</li>
                        <li>
                          <v-icon>mdi-information-outline</v-icon>Pedals a tricycle (3-wheel
                          bike)
                        </li>
                        <li>
                          <v-icon>mdi-information-outline</v-icon>Walks up and down stairs,
                          one foot on each step
                        </li>
                      </ul>
                    </v-card-text>
                  </v-card>
                </v-col>
              </v-row>
            </section>
          </div>
    </section>
</template>
<style lang="scss" scoped>
.v-card__title {
  background: #00000070 !important;
}

ul {
  list-style: none;
}
</style>
