<template>
  <section>
    <div class="content pa-md-5">
      <section
        class="py-md-5"
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
      >
        <v-row>
          <v-col cols="12" md="6">

            <h2 class="globalTitle">International Kindergarten III</h2>
            <p class="overline">(3.5 yrs to 4.5 yrs)</p>
            <!-- <p
                  class="body-1"
                >Toddler years are the most frightening for parents! For kids, it’s a critical period, a part of the absorbent period as termed by Dr Maria Montessori. The toddlers brain in like a sponge. Which is why it’s referred to as the ‘absorbent period’.</p>-->
            <p class="body-1">What most children do by this age: –</p>
          </v-col>
          <v-col cols="12" md="6">
           <iframe src="https://www.youtube.com/embed/fVAn-KIY6_U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          </v-col>
        </v-row>
      </section>
      <section
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
      >
        <v-row>
          <v-col cols="12" md="6">
            <v-card class="mx-auto cardWithBorder" min-height="570">
              <v-img
                class="white--text align-end"
                height="300px"
                :src="require(`@/assets/img/ip/programs/ik31.webp`)"
              >
                <v-card-title>Social and Emotional</v-card-title>
              </v-img>

              <v-card-text class="text--primary text-left">
                <ul>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Wants to please
                    friends
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Wants to be like
                    friends
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>More likely to agree
                    with rules
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Likes to sing,
                    dance, and act
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Is aware of gender
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Can tell what’s real
                    and what’s make-believe
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Shows more
                    independence (for example, may visit a next-door neighbor by
                    himself [adult supervision is still needed])
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Is sometimes
                    demanding and sometimes very cooperative
                  </li>
                </ul>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" md="6">
            <v-card class="mx-auto cardWithBorder" min-height="570">
              <v-img
                class="white--text align-end"
                height="300px"
                :src="require(`@/assets/img/ip/programs/ik32.webp`)"
              >
                <v-card-title>Language/Communication</v-card-title>
              </v-img>

              <v-card-text class="text--primary text-left">
                <ul>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>5 year old playing
                    guitar
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Speaks very clearly
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Tells a simple story
                    using full sentences
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Uses future tense;
                    for example, “Grandma will be here.”
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Says name and
                    addressNo image available for this milestone
                  </li>
                </ul>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" md="6">
            <v-card class="mx-auto cardWithBorder" min-height="570">
              <v-img
                class="white--text align-end"
                height="300px"
                :src="require(`@/assets/img/ip/programs/ik33.webp`)"
              >
                <v-card-title>
                  Cognitive
                  <br />(learning, thinking, problem solving)
                </v-card-title>
              </v-img>

              <v-card-text class="text--primary text-left">
                <ul>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Counts 10 or more
                    things
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Can draw a person
                    with at least 6 body parts
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Can print some
                    letters or numbers
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Copies a triangle
                    and other geometric shapes
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Knows about things
                    used every day, like money and food
                  </li>
                </ul>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" md="6">
            <v-card class="mx-auto cardWithBorder" min-height="570">
              <v-img
                class="white--text align-end"
                height="300px"
                :src="require(`@/assets/img/ip/programs/ik34.webp`)"
              >
                <v-card-title>Movement/Physical Development</v-card-title>
              </v-img>

              <v-card-text class="text--primary text-left">
                <ul>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Stands on one foot
                    for 10 seconds or longer
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Hops; may be able to
                    skip
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Can do a somersault
                  
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Uses a fork and
                    spoon and sometimes a table knife
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Can use the toilet
                    on her ownNo image available for this milestone
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Swings and climbs
                  
                  </li>
                </ul>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </section>
    </div>
  </section>
</template>
<style lang="scss" scoped>
.v-card__title {
  background: #00000070 !important;
}

ul {
  list-style: none;
}
</style>
