<template>
  <section>
    <div class="content pa-md-5">
      <section
        class="py-md-5"
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
        >
        <v-row>
          <v-col cols="12" md="6">
            <h2 class="globalTitle">
              International Play Group
            </h2>
            <p class="overline">(1.5 yrs to 2.5 yrs)</p>
            <p class="body-1">
              Toddler years are the most frightening for parents! For kids, it’s
              a critical period, a part of the absorbent period as termed by Dr
              Maria Montessori. The toddlers brain in like a sponge. Which is
              why it’s referred to as the ‘absorbent period’.
            </p>
            <p class="body-1">What most kids do at this age –</p>
          </v-col>
          <v-col cols="12" md="6">
            <iframe src="https://www.youtube.com/embed/fVAn-KIY6_U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </v-col>
        </v-row>
      </section>
      <section
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
        >
        <v-row>
          <v-col cols="12" md="6">
            <v-card class="mx-auto cardWithBorder" min-height="560">
              <v-img
                class="white--text align-end"
                height="300px"
                :src="require(`@/assets/img/ip/programs/pg1.webp`)"
              >
                <v-card-title>Social and Emotional</v-card-title>
              </v-img>

              <v-card-text class="text--primary text-left">
                <ul>
                  <li>
                    <v-icon>mdi-information-outline</v-icon> Copies others, especially adults
                    and older children
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon> Gets excited when with other
                    childrenNo image available for this mileston
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon> Shows more and more independence
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon> Shows defiant behavior (doing
                    what he has been told not to)
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon> Plays mainly beside other
                    children, but is beginning to include other children, such
                    as in chase game
                  </li>
                </ul>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" md="6">
            <v-card class="mx-auto cardWithBorder" min-height="560">
              <v-img
                class="white--text align-end"
                height="300px"
                :src="require(`@/assets/img/ip/programs/pg2.webp`)"
              >
                <v-card-title>Language/Communication</v-card-title>
              </v-img>

              <v-card-text class="text--primary text-left">
                <ul>
                  <li>
                    <v-icon>mdi-information-outline</v-icon> Points to things or pictures when
                    they are named
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Knows names of familiar people and
                    body parts
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Says sentences with 2 to 4 words
                  </li>
                  <li><v-icon>mdi-information-outline</v-icon>Follows simple instructions</li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Repeats words overheard in
                    conversation
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Points to things in a book
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>2 year old playing with big ball
                  </li>
                </ul>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" md="6">
            <v-card class="mx-auto cardWithBorder" min-height="560">
              <v-img
                class="white--text align-end"
                height="300px"
                :src="require(`@/assets/img/ip/programs/pg3.webp`)"
              >
                <v-card-title>
                  Cognitive
                  <br />(learning, thinking, problem solving)
                </v-card-title>
              </v-img>

              <v-card-text class="text--primary text-left">
                <ul>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Finds things even when hidden
                    under two or three covers
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Begins to sort shapes and colors
                  
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Completes sentences and rhymes in
                    familiar books
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Plays simple make-believe games
                  
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Builds towers of 4 or more blocks
                  
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Might use one hand more than the
                    other
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Follows two-step instructions such
                    as “Pick up your shoes and put them in the closet.”
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Names items in a picture book such
                    as a cat, bird, or dog
                  </li>
                </ul>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" md="6">
            <v-card class="mx-auto cardWithBorder" min-height="560">
              <v-img
                class="white--text align-end"
                height="300px"
                :src="require(`@/assets/img/ip/programs/pg4.webp`)"
              >
                <v-card-title>Movement/Physical Development</v-card-title>
              </v-img>

              <v-card-text class="text--primary text-left">
                <ul>
                  <li><v-icon>mdi-information-outline</v-icon>Stands on tiptoe</li>
                  <li><v-icon>mdi-information-outline</v-icon>Kicks a ball</li>
                  <li><v-icon>mdi-information-outline</v-icon>Begins to run</li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Climbs onto and down from
                    furniture without help
                  </li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Walks up and down stairs holding
                    on
                  </li>
                  <li><v-icon>mdi-information-outline</v-icon>Throws ball overhand</li>
                  <li>
                    <v-icon>mdi-information-outline</v-icon>Makes or copies straight lines and
                    circles
                  </li>
                </ul>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </section>
    </div>
  </section>
</template>
<style lang="scss" scoped>
.v-card__title {
  background: #00000070 !important;
}

ul {
  list-style: none;
}
</style>
