<template>
  <section>
    <div class="content pa-md-5">
      <section
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
        >
        <h2 class="globalTitle">
          Why do I need a mother toddler program?
        </h2>
        <v-row>
          <v-col cols="12" md="6">
            <p class="body-1">
              The mother toddler program, which includes a host of different
              activities, is envisioned for the age group of 6 months to 18
              months It gives your toddler an opportunity to explore creativity
              and interact with other children. This experience is not only
              recreational but also provides momentous learning opportunities
              for you and your toddler. Research also shows that parental
              involvement plays one of the most significant roles in a child’s
              educational triumph. Moreover, parents who are active in their
              child’s education are representing that education is an essential
              family value.
            </p>
          </v-col>
          <v-col cols="12" md="6">
            <iframe src="https://www.youtube.com/embed/Qll9SQz3EvA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </v-col>
        </v-row>
      </section>
      <section
        class="pb-5"
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
        >
        <h2 class="globalTitle">
          Benefits of a mother toddler program
        </h2>
        <v-row>
          <v-col cols="12" md="8">
            <p class="headline"></p>
            <p class="body-1">
              The Toddlers Program specialises in creating fun learning
              experiences, for babies from 6 months old to toddlers (18 months).
              Our weekly classes offer an intimate and nurturing environment
              where mothers and their young children engage in a range of
              carefully designed play-based activities that maximise learning
              potential. Small groups, led by carefully selected and trained
              facilitators who understand the development of young children, are
              designed to optimise the uniqueness and unlimited potential of
              each child.
            </p>
            <p class="body-1">
              Our classes involve a variety of stimulating activities for babies
              and toddlers that are presented in a fun, relaxed and nurturing
              environment. The parent or caregiver is actively involved in each
              session, guiding and encouraging the child through age appropriate
              learning activities.
            </p>
          </v-col>
          <v-col cols="12" md="4">
            <v-row class="imageRow">
              <v-img
                max-height="300"
                :src="require(`@/assets/img/ip/programs/t01.webp`)"
              ></v-img>
            </v-row>
          </v-col>
        </v-row>
      </section>
      <section
        class="pb-5"
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
        >
        <h2 class="globalTitle">
          Benefits of a mother toddler program
        </h2>

        <v-row>
          <v-col cols="12" md="4">
            <v-row class="imageRow">
              <v-img
                max-height="300"
                :src="require(`@/assets/img/ip/programs/t02.webp`)"
              ></v-img>
            </v-row>
          </v-col>
          <v-col cols="12" md="8" class="px-md-10">
            <p class="body-1">
              Sensory & motor skill development – An essential component in your
              child development Name: *
            </p>
            <p class="body-1">
              Create like-minded mommy’s group – Enjoy chatting with like-minded
              mommies and share your experiences too. More importantly, you get
              to interact with other adults in your otherwise busy life.
            </p>
            <p class="body-1">
              No teary transitions to Pre-School – Social Interaction at this
              program eases the pre-school transition.
            </p>
            <p class="body-1">
              Explore more about your Child Interests – You can activate their
              latent abilities and interests.
            </p>
            <p class="body-1">
              Create a special bond with your child – Spending quality time with
              your child at this age, create a lifetime bond
            </p>
          </v-col>
        </v-row>
      </section>
    </div>
  </section>
</template>
<style lang="scss" scoped>
.v-card__title {
  background: #00000070 !important;
}

ul {
  list-style: none;
}
</style>
