<template>
  <section class="mt8">
    <div class="container">
      <nav  class="breadcrumb">
        <ol>
          <li class="breadcrumb-item active" aria-current="page">Home >  </li>
          <li class="breadcrumb-item active" aria-current="page">Preschool >  </li>
          <li class="breadcrumb-item active" aria-current="page">Curriculam </li>
        </ol>
      </nav>
      <v-tabs show-arrows v-model="active" center-active grow>
        <v-tab><nuxt-link to="/international-preschool"><div>Intro</div></nuxt-link></v-tab>
        <v-tab><nuxt-link to="/international-preschool/philosophy"><div>Philosophy</div></nuxt-link></v-tab>
        <v-tab><nuxt-link to="/international-preschool/curriculam"><div>Curriculum</div></nuxt-link></v-tab>
        <v-tab><nuxt-link to="/international-preschool/programs"><div>Programs</div></nuxt-link></v-tab>
        <v-tab><nuxt-link to="/international-preschool/franchise-opportunity"><div>Franchise Programs</div></nuxt-link></v-tab>

      </v-tabs>
        <AppCurriculam/>
    </div>
  </section>
</template>
<script>
import AppCurriculam from '../../components/InternationalPreschool/AppCurriculam'

export default {
  components: {

     AppCurriculam,

  },
    data: ()=> ({
    active:2
  }),
   head () {
    return {
      title: 'Best Early Childhood Educational Curriculum',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Our preschool curriculum has adopted the EYFS framework. Best preschool infrastructure and British Preschool curriculum provider in India.'
        }
      ],
      meta: [
        {
          hid: 'keywords',
          name: 'keywords',
          content: 'international preschool curriculum'
        }
      ],
      link: [
          { rel: 'canonical', href: 'https://franchise.beanstalkedu.com/montessori-teacher-training/international-preschool/curriculam' }
            ]
    }
  },
};

</script>
<style lang="scss" scoped>
</style>
