<template>
  <section class="mt8">
    <div class="container">
      <nav  class="breadcrumb">
        <ol>
          <li class="breadcrumb-item active" aria-current="page">Home >  </li>
          <li class="breadcrumb-item active" aria-current="page">Preschool >  </li>
          <li class="breadcrumb-item active" aria-current="page">Intro </li>
        </ol>
      </nav>
      <v-tabs show-arrows v-model="active" center-active grow>
        <v-tab><nuxt-link to="/international-preschool"><div>Intro</div></nuxt-link></v-tab>
        <v-tab><nuxt-link to="/international-preschool/philosophy"><div>Philosophy</div></nuxt-link></v-tab>
        <v-tab><nuxt-link to="/international-preschool/curriculam"><div>Curriculum</div></nuxt-link></v-tab>
        <v-tab><nuxt-link to="/international-preschool/programs"><div>Programs</div></nuxt-link></v-tab>
        <v-tab><nuxt-link to="/international-preschool/franchise-opportunity"><div>Franchise Programs</div></nuxt-link></v-tab>

      </v-tabs>
        <AppVideo />

       <!--
        <v-tab-item>
          <AppPhilosophy/>
        </v-tab-item>
        <v-tab-item>
          <AppCurriculam/>
        </v-tab-item>
        <v-tab-item>
          <AppPrograms/>
        </v-tab-item>
        <v-tab-item>
          <AppFranchise/>
        </v-tab-item> -->

    </div>
  </section>
</template>
<script>
// import AppPhilosophy from '../../components/InternationalPreschool/AppPhilosophy'
// import AppCurriculam from '../../components/InternationalPreschool/AppCurriculam'
// import AppPrograms from '../../components/InternationalPreschool/AppPrograms'
// import AppFranchise from '../../components/InternationalPreschool/AppFranchise'
import AppVideo from "../../components/InternationalPreschool/ApppVideo";
export default {
  components: {
    AppVideo
  },
    data: ()=> ({
    active:0
  }),
  head () {
    return {
      title: 'Best international Preschool Franchise Opportunity',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'A unique opportunity for an internationally recognized preschool franchisee. Unlimited Tenure, Lowest Priced Study Kits, no royalty fees.'
        }
      ],
      meta: [
        {
          hid: 'keywords',
          name: 'keywords',
          content: 'international Preschool Franchise'
        }
      ],
      link: [
          { rel: 'canonical', href: 'https://franchise.beanstalkedu.com/montessori-teacher-training/international-preschool/' }
            ]
    }
  },
};
</script>
<style lang="scss" scoped>
</style>
