<template>
  <section class="mt8">
    <div class="container">
      <nav  class="breadcrumb">
        <ol>
          <li class="breadcrumb-item active" aria-current="page">Home >  </li>
          <li class="breadcrumb-item active" aria-current="page">Preschool >  </li>
          <li class="breadcrumb-item active" aria-current="page">Philosophy </li>
        </ol>
      </nav>
      <v-tabs show-arrows v-model="active" center-active grow>
        <v-tab><nuxt-link to="/international-preschool"><div>Intro</div></nuxt-link></v-tab>
        <v-tab><nuxt-link to="/international-preschool/philosophy"><div>Philosophy</div></nuxt-link></v-tab>
        <v-tab><nuxt-link to="/international-preschool/curriculam"><div>Curriculum</div></nuxt-link></v-tab>
        <v-tab><nuxt-link to="/international-preschool/programs"><div>Programs</div></nuxt-link></v-tab>
        <v-tab><nuxt-link to="/international-preschool/franchise-opportunity"><div>Franchise Programs</div></nuxt-link></v-tab>

      </v-tabs>
        <AppPhilosophy/>
    </div>
  </section>
</template>
<script>
import AppPhilosophy from '../../components/InternationalPreschool/AppPhilosophy'

export default {
  components: {

     AppPhilosophy,

  },
    data: ()=> ({
    active:1
  }),
  head () {
    return {
      title: 'Curriculum of Beanstalk Preschool Franchise',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Know about our approach and pedagogic principles. Unique Child, Positive Relationships, Enabling Environments, Learning & Development.'
        }
      ],
      meta: [
        {
          hid: 'keywords',
          name: 'keywords',
          content: 'preschool philosophy'
        }
      ],
      link: [
          { rel: 'canonical', href: 'https://franchise.beanstalkedu.com/montessori-teacher-training/international-preschool/philosophy' }
            ]
    }
  },
};
</script>
<style lang="scss" scoped>
</style>
