<template>
  <section class="mt8">
    <div class="container">
      <nav class="breadcrumb">
        <ol>
          <li class="breadcrumb-item active" aria-current="page">Home ></li>
          <li class="breadcrumb-item active" aria-current="page">TeacherTraining ></li>
          <li class="breadcrumb-item active" aria-current="page">Courses</li>
        </ol>
      </nav>
      <v-tabs show-arrows v-model="active" center-active grow>
        <v-tab>
          <nuxt-link to="/montessori-teacher-training">
            <div>Intro</div>
          </nuxt-link>
        </v-tab>
        <v-tab>
          <nuxt-link to="/montessori-teacher-training/why-iimtt">
            <div>Why IIMTT</div>
          </nuxt-link>
        </v-tab>
        <v-tab>
          <nuxt-link to="/montessori-teacher-training/courses">
            <div>Courses Offered</div>
          </nuxt-link>
        </v-tab>
        <v-tab>
          <nuxt-link to="/montessori-teacher-training/support-provided">
            <div>Support Provided</div>
          </nuxt-link>
        </v-tab>
        <v-tab>
          <nuxt-link to="/montessori-teacher-training/investment-required">
            <div>Investment Required</div>
          </nuxt-link>
        </v-tab>
      </v-tabs>

      <section>
        <p class="globalTitle text-center py-5">Courses Offered</p>
        <div class="row">
          <div class="col-12 col-md-4">
            <v-card class="cardWithBorder themeCard pa-5">
              <h2 class="themeColor">Diploma in Montessori Teacher Training (Regular)</h2>
              <hr class="line my-5" />
              <p class="body-1">
                A comprehensive, regular class room (6 months-1 year) course in
                Montessori Teacher Training for those wishing to work with, or be
                in charge of Montessori house of children in the age-group uptil 6
                years. Under Graduates are awarded a Montessori Teaching Diploma
                for the Preschool level.
              </p>
            </v-card>
          </div>
          <div class="col-12 col-md-4">
            <v-card class="cardWithBorder themeCard pa-5">
              <h2 class="themeColor">Diploma in Montessori Teacher Training - Weekend Batch</h2>
              <hr class="line my-5" />
              <p class="body-1">
                Introducing an easy paced Weekend Batch for working professionals.
                This year long Saturday & Sunday Diploma Course is a
                comprehensive, regular classroom (1 year) course in Montessori
                Teacher Training for those wishing to work with, or be in charge
                of Montessori house of children. Under Graduates are awarded a
                Montessori Teaching Diploma in Montessori Teacher Training
                (Regular). Enrol today.
              </p>
            </v-card>
          </div>
          <div class="col-12 col-md-4">
            <v-card class="cardWithBorder themeCard pa-5">
              <h2 class="themeColor">Diploma in Advanced Montessori Teacher Training</h2>
              <hr class="line my-5" />
              <p class="body-1">
                We offer a comprehensive, regular class room (6 months-1 year)
                course in Advanced Montessori Teacher Training for those who have
                successfully completed the Regular course and wish to enrich their
                knowledge further in the early childhood education space.
              </p>
            </v-card>
          </div>
        </div>
      </section>
      <section class="sectionBG2">
        <div class="container">
          <p
            class="globalTitle text-center py-5"
          >Let's see what our dear alumni got to say about our institute…</p>
          <div class="row">
            <div class="col-md-12">
              <carousel-3d
                :controls-visible="false"
                :inverse-scaling="1000"
                :space="500"
                :autoplay="true"
                :autoplay-timeout="3000"
                :autoplay-hover-pause="true"
                :animation-speed="1000"
                :height="500"
                :border="0"
              >
                <slide v-for="(slide, i) in slides" :key="i" :index="i">
                  <v-card class="testimonials">
                    <ul>
                      <li class="current_slide">
                        <v-avatar color="indigo" size="115">
                          <img
                            :src="require(`@/assets/img/testimonial/${slide.img}`)"
                            :alt="slide.altText"
                          />
                        </v-avatar>
                        <!-- <img  /> -->
                        <blockquote>
                          <p class="quote">{{slide.desc}}</p>
                        </blockquote>
                        <footer>
                          <span class="author">{{slide.title}}</span>
                          <!-- <p class="info">American editorial photographer best known for his photograph "Afghan Girl".</p> -->
                        </footer>
                      </li>
                    </ul>
                  </v-card>
                </slide>
              </carousel-3d>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</template>
<style lang="scss" scoped>
.themeCard:hover {
  h2 {
    color: white !important;
  }
}
.v-card {
  min-height: 25em;
}

.testimonials {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
.testimonials ul {
  margin: 0 auto;
  padding: 3rem 0;
  transition: transform 0.6s;
}
.testimonials ul::after {
  content: "";
  display: table;
  clear: both;
}
.testimonials li {
  float: left;
  list-style: none;
  cursor: pointer;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  transform: scale(0.9);
  transition: transform 0.6s;
  border-bottom: 4px solid $mainColor !important;
}
.testimonials li img {
  height: 9rem;
  width: 11rem;
  border-radius: 50%;
  margin-top: 1rem;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  border: 3px solid yellowgreen;
}
.testimonials li blockquote {
  margin: 0 auto;
  padding: 0rem 2rem 1rem;
}
.quote {
  position: relative;
  z-index: 1;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #585d6d;
}
.quote::before {
  content: "\201c";
  font-size: 9rem;
  color: $mainColor;
  opacity: 0.4;
  font-weight: bold;
  position: absolute;
  top: 0rem;
  left: -0.5rem;
  z-index: -1;
  pointer-events: none;
}
.testimonials footer {
  border-top: 1px solid #d6d3d2;
  padding: 1rem 0;
}
.author {
  display: block;
  font-size: 1.5rem;
  color: #585d6d;
  margin-bottom: 0.5rem;
}
.info {
  font-size: 1rem;
  color: #b1b4bd;
  width: 60%;
  margin: 0 auto;
  line-height: 1rem;
}

/*MOBILE DEVICES*/
@media only screen and (max-width: 786px) {
  h2 {
    font-size: 1.2em;
  }
}
</style>
<script>
import Carousel3d from "vue-carousel-3d/src/Carousel3d.vue";
import Slide from "vue-carousel-3d/src/Slide.vue";
export default {
  components: {
    Carousel3d,
    Slide
  },
  data: () => ({
    active: 2,
    slides: [
      {
        title: "Amrita Mukherjee",
        img: "TT01.jpg",
        altText: "Amrita Mukherjee",
        desc:
          "I had a great time in the practice teaching and the practical classes. Classroom handling experience as part of the course was very helpful."
      },
      {
        title: "Moumita Biswas",
        img: "TT02.jpg",
        altText: "Moumita Biswas",
        desc:
          "I am satisfied with the program conducted at this institute. I enjoyed the practice teaching classes a lot. Thanks to my mentor who guided me throughout the tenure of the course."
      },
      {
        title: "Rima Mallick",
        img: "TT03.jpg",
        altText: "Rima Mallick",
        desc:
          "I am very happy with my experience at the centre. Friendly atmosphere gave me the comfort I was looking for and a very well structured curriculum enabled me to carve my future as a montessori teacher."
      },
      {
        title: "Pooja Jaiswal",
        img: "TT04.jpg",
        altText: "Pooja Jaiswal",
        desc:
          "I am satisfied with the training delivered at this institute. The training methodology and audio visual support for the topics covered made the learning process easier and structured."
      },
      {
        title: "Srijata Gupta",
        img: "TT05.jpg",
        altText: "Srijata Gupta",
        desc:
          "I rate the training program as perfect. Thoroughly enjoyed the practice teaching sessions and thanks for the systematic approach undertaken for the program delivery."
      }
    ]
  }),
  head () {
    return {
      title: 'courses',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'We are marching forward towards becoming India\'s most admired early childhood education service provider.'
        }
      ],
      link: [
          { rel: 'canonical', href: 'https://franchise.beanstalkedu.com/montessori-teacher-training/courses' }
            ]
    }
  },
};
</script>
