<template>
  <section class="mt8">
    <div class="container">
       <nav  class="breadcrumb">
          <ol>
            <li class="breadcrumb-item active" aria-current="page">Home >  </li>
            <li class="breadcrumb-item active" aria-current="page">TeacherTraining >  </li>
            <li class="breadcrumb-item active" aria-current="page">Investment </li>
          </ol>
        </nav>
      <v-tabs show-arrows v-model="active" center-active grow>
        <v-tab><nuxt-link to="/montessori-teacher-training"><div>Intro</div></nuxt-link></v-tab>
        <v-tab><nuxt-link to="/montessori-teacher-training/why-iimtt"><div>Why IIMTT</div></nuxt-link></v-tab>
        <v-tab><nuxt-link to="/montessori-teacher-training/courses"><div>Courses Offered</div></nuxt-link></v-tab>
        <v-tab><nuxt-link to="/montessori-teacher-training/support-provided"><div>Support Provided</div></nuxt-link></v-tab>
        <v-tab><nuxt-link to="/montessori-teacher-training/investment-required"><div>Investment Required</div></nuxt-link></v-tab>

      </v-tabs>
        <AppInvestment />

    </div>
  </section>
</template>
<script>

import AppInvestment from "../../components/TeacherTraining/AppInvestment";
export default {
  components: {
    AppInvestment
  },
    data: ()=> ({
    active:4
  }),
  head () {
    return {
      title: 'investment required',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'We are marching forward towards becoming India\'s most admired early childhood education service provider.'
        }
      ],
      link: [
          { rel: 'canonical', href: 'https://franchise.beanstalkedu.com/montessori-teacher-training/investment-required' }
            ]
    }
  },
};
</script>
<style lang="scss" scoped>
</style>
