$mainColor: #f56912 !important;
$logoGreen: #468e24 !important;

* {
  font-family: "Poppins", sans-serif !important;
}

.container {
  max-width: 1350px !important;
}
a {
  text-decoration: none;
  color: white !important;
}
.cardWithBorder {
  border-bottom: 4px solid $mainColor;
}
.btnTheme{
  background: $mainColor;
  color: white!important;
}
.themeCard {
  border-bottom: 4px solid $mainColor;
  min-height: 12em;
  padding: 1em 2em;
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;

  &:hover {
    box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.3);
    transform: translatey(-10px);
    transition-delay: 1s;

    cursor: pointer;
    background: $mainColor;
    color: white !important;
  }
}

.line {
  border: 3px solid #f56912 !important;
  width: 10em;
  margin: 0 auto 1em;
}
.themeColor {
  color: $mainColor;
}
.sectionbg {
  background: #fff8ef;
}
.sectionpd {
  padding: 5em 0;
}
// .y-video__inner {
//   padding-bottom: 30% !important;
// }
// .cc {
//   .y-video__inner {
//     padding-bottom: 50% !important;
//   }
// }
.v-tabs-bar__content {
  min-width: 14em;
}
.v-tab--active {
  background: antiquewhite;
}
@media only screen and (min-width: 1000px) {

.videoFullScreen{
  .plyr__video-wrapper {
    padding-bottom: 35%!important;
  }
}
}
li.nuxt-link-exact-active.nuxt-link-active > li {
  border: 3px solid white;
}
.v-tab {
  a {
    color: unset !important;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:hover{
    background: $mainColor;
    color: white!important;
  }
}

.vue-fixed-header--isFixed{
  .content{
    background: #fff8ef;
  }
  .topheader{
    display: none!important;
  }
  .logo img{
    height: 4em!important;
  }

}
.mt8{
  margin-top: 8em!important;
}
.globalTitle{
  color: $mainColor;
  font-size: 2em;
  margin: 0 0 1em 0;
}
.headline{
  font-size: 1.4rem !important;
}

.afterschoolcardLogo{
  height: 10em;
}
iframe{
  width: 100%;
  height: 20em;
}
.breadcrumb{
  background:
    #fefbf6;
    padding: 0.75em;
    margin: 1em 0;
    ol{
      list-style: none;
      display: flex;
      li{
        padding:0 0.2em;
        font-size: small;
      }
    }
}
/*MOBILE DEVICES*/
@media only screen and (max-width: 786px) {

  body{
    text-align: center!important;
  }
  iframe{
    height: 18em!important;
  }
  .globalTitle{
    font-size: 1.2em!important;
  }
  .v-tab {
    font-size: 0.7rem;
  }
  .v-tabs--vertical {
    flex-direction: column !important;
  }
  .v-tabs--vertical > .v-tabs-bar .v-tabs-bar__content {
    flex-direction: row !important;
    margin-bottom: 1em;
  }

  .themeCard{
    padding: 1em;
    min-height: unset!important;
    text-align: justify;
  }
  .globalTitle{
    color: $mainColor;
    font-size: 1.5em;
    margin: 0 0 1em 0;
  }
  .specific{
    flex-direction: column-reverse;
  }
  .col-md-4{
    padding: 6px!important;
  }

  .appWhyImage{
    height: 12em;
    width: 18em;
  }
  .headline{
    font-size: 1.2rem!important;
  }
  .flexCR{
    flex-direction: column-reverse;
  }
  .support{
    .display-1{
      font-size: 1.2rem !important;
    }
    ul{
      padding-left: 0!important;
    }
  }
  .afterschoolcardDiv{
    justify-content: center;
    align-items: center;

  }

}
.imageRow{
  display: flex;
  align-items: center;
  height: 100%;
}
.theme--dark.v-card {
  background-color: #FFFFFF!important;
  color:#1E1E1E!important;
}

.theme--dark.v-card > .v-card__text{
  color:#1E1E1E!important;
}
