<template>
  <section>
    <p class="display-1 py-10 text-center">Starts at RS 1 Lacs</p>
    <p class="overline text-center">Contact For More Details</p>
    <div class="row pa-3">
      <div class="col-md-5 col-12 offset-md-1">
        <v-text-field
          v-model="fname"
          label="First Name"
          required
          filled
        ></v-text-field>
      </div>
      <div class="col-md-5 col-12">
        <v-text-field
          v-model="lname"
          label="Last Name"
          required
          filled
        ></v-text-field>
      </div>
      <div class="col-md-5 col-12 offset-md-1">
        <v-text-field
          v-model="email"
          label="Email"
          required
          filled
        ></v-text-field>
      </div>
      <div class="col-md-5 col-12">
        <v-text-field v-model="phone" label="Phone" required filled></v-text-field>
      </div>
      <div class="col-md-10 col-12 offset-md-1">
        <v-textarea
          filled
          name="input-7-4"
          label="Your Message"
          :auto-grow="true"
          :row-height="1"
          value
        ></v-textarea>
      </div>
      <div class="col-md-10 col-12 offset-md-1">
        <div>
          <v-btn x-large class="themeBtn">Submit Now</v-btn>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      fname: "",
      lname: "",
      nameRules: [
        v => !!v || "Name is required",
        v => (v && v.length <= 10) || "Name must be less than 10 characters"
      ],
      email: "",
      emailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+\..+/.test(v) || "E-mail must be valid"
      ],
      phone: "",
      items: ["Foo", "Bar", "Fizz", "Buzz"],
      radios: "radio-1"
    };
  }
};
</script>
