<template>
  <section class="support">
    <section
      data-aos="fade-right"
      data-aos-duration="1500"
      data-aos-easing="ease-in"
      data-aos-once="true"
      >
      <v-card class="contentCenter">
        <v-row  class="flexCR">
          <v-col cols="12" md="5" offset-md="1">
            <v-row>
            <p class="display-1 themeColor font-weight-bold">ACADEMIC HANDOVER LIST</p>
            <ul>
              <li><v-icon>mdi-arrow-right</v-icon>LESSON PLANS</li>
              <li><v-icon>mdi-arrow-right</v-icon>THEORY PRESENTATION VIDEOS</li>
              <li><v-icon>mdi-arrow-right</v-icon>PRACTICAL PRESENTATION VIDEOS</li>
              <li><v-icon>mdi-arrow-right</v-icon>ADDITIONAL PRESENTATION VIDEOS FOR ADDITIONAL CONCEPTS</li>
              <li><v-icon>mdi-arrow-right</v-icon>PRACTICE TEACHING DEMONSTRATION VIDEOS</li>
              <li><v-icon>mdi-arrow-right</v-icon>SAMPLE ALBUMS & PRACTICE RECORD NOTES</li>
              <li><v-icon>mdi-arrow-right</v-icon>SAMPLE DIPLOMA CERTIFICATE E-COPY</li>
              <li><v-icon>mdi-arrow-right</v-icon>SAMPLE MARKSHEET E-COPY</li>
              <li><v-icon>mdi-arrow-right</v-icon>REFERENCE DOCUMENTATION</li>
            </ul>
            </v-row>
          </v-col>
          <v-col md="6">
            <v-row align="center" justify="center">
               <v-img
              :src="require(`@/assets/img/teacherTraining/pj1.webp`)"
              :lazy-src="require(`@/assets/img/teacherTraining/pj1.webp`)"
              aspect-ratio="1"
              max-height="350"
              max-width="450"
              class="appWhyImage"
            ></v-img>
            </v-row>
          </v-col>
        </v-row>
      </v-card>
    </section>

    <section
      data-aos="fade-left"
      data-aos-duration="1500"
      data-aos-easing="ease-in"
      data-aos-once="true"
      >
      <v-card class="contentCenter">
        <v-row>
          <v-col md="6">
            <v-row align="center" justify="center">
               <v-img
              :src="require(`@/assets/img/teacherTraining/pj2.webp`)"
              :lazy-src="require(`@/assets/img/teacherTraining/pj2.webp`)"
              aspect-ratio="1"
              max-height="350"
              max-width="450"
              class="appWhyImage"
            ></v-img>

            </v-row>
          </v-col>
          <v-col cols="12" md="5">
            <v-row class="py-10">
            <p class="display-1 themeColor font-weight-bold">MARKETING SUPPORT</p>
            <ul>
              <li><v-icon>mdi-arrow-right</v-icon> 1 FULL SIZE BANNER</li>
              <li> <v-icon>mdi-arrow-right</v-icon> 1000 LEAFLETS</li>
              <li> <v-icon>mdi-arrow-right</v-icon> COLLATERAL DESIGNS</li>
              <li> <v-icon>mdi-arrow-right</v-icon> SOCIAL MEDIA CAMPAIGNS</li>
              <li> <v-icon>mdi-arrow-right</v-icon> GOOGLE MY BUSINESS ACTIVATION</li>
            </ul>
            <p
              class="overline pa-5"
            >within 15 days of sign up for you to start marketing for your batch</p>
            </v-row>
          </v-col>

        </v-row>
      </v-card>
    </section>


    <section
      data-aos="fade-right"
      data-aos-duration="1500"
      data-aos-easing="ease-in"
      data-aos-once="true"
      >
      <v-card class="contentCenter">
        <v-row class="flexCR">
          <v-col cols="12" md="5" offset-md="1">
            <v-row class="py-10 flex-column" >
              <p class="display-1 themeColor font-weight-bold">TRAINING & DEVELOPMENT</p>
              <p class="overline">for partner & 2 trainers per year</p>
              <ul>
                <li><v-icon>mdi-arrow-right</v-icon> E-LEARNING BASED</li>
                <li><v-icon>mdi-arrow-right</v-icon> SKYPE TRAINING</li>
                <li><v-icon>mdi-arrow-right</v-icon> FACE2FACE TRAINING IN KOLKATA</li>
              </ul>
            </v-row>
          </v-col>
          <v-col md="6">
            <v-row align="center" justify="center">
               <v-img
              :src="require(`@/assets/img/teacherTraining/pj3.webp`)"
              :lazy-src="require(`@/assets/img/teacherTraining/pj3.webp`)"
              aspect-ratio="1"
              max-height="350"
              max-width="450"
              class="appWhyImage"
            ></v-img>
            </v-row>
          </v-col>
        </v-row>
      </v-card>
    </section>


    <section
      data-aos="fade-right"
      data-aos-duration="1500"
      data-aos-easing="ease-in"
      data-aos-once="true"
      >
      <v-card class="contentCenter">
        <v-row>
          <v-col md="5" offset-md="1">
            <v-row align="center" justify="center">
              <p class="text-center overline"> Actual portal snapshots</p>
              <v-carousel height="300" :interval="3000" cycle>
                <v-carousel-item
                  v-for="(item,i) in items"
                  :key="i"
                  :src="require(`@/assets/img/teacherTraining/${item.src}`)"
                  reverse-transition="fade-transition"
                  transition="fade-transition"
                  contain
                  max-height="350"
                ></v-carousel-item>
              </v-carousel>

            </v-row>
          </v-col>
          <v-col cols="12" md="5" offset-md="1">
            <v-row class="py-10 flex-column" >
              <p class="display-1 themeColor">TRAINING MODULES ONLINE</p>
              <p class="headline">completely self-paced</p>
              <p class="body-1">We have a dedicated training portal for e-learning modules specially curated for administrators and teachers. Our trainers have access to all the resources they need available online in their dashboard empowering them completely. The online module augments our day long face to face training delivered physically at head office or via skype.</p>
            </v-row>
          </v-col>
        </v-row>
      </v-card>
    </section>

    <section
      data-aos="fade-right"
      data-aos-duration="1500"
      data-aos-easing="ease-in"
      data-aos-once="true"
      >
      <v-card class="contentCenter">
        <v-row>
          <v-col cols="12" md="5" offset-md="1">
            <v-row class="py-10 flex-column" >
              <p class="display-1 themeColor">STEP BY STEP GUIDANCE </p>
              <p class="headline">To start your first batch within 3 Months of agreement signing.</p>
              <p class="body-1">We guide you every step of the way administratively, academically and through marketing support to start the first batch in the first 3 months.</p>

            </v-row>
          </v-col>
          <v-col md="6">
            <v-row align="center" justify="center">
                <v-img
              :src="require(`@/assets/img/teacherTraining/pj.webp`)"
              :lazy-src="require(`@/assets/img/teacherTraining/pj.webp`)"
              aspect-ratio="1"
              max-height="350"
              max-width="450"
            ></v-img>
            </v-row>
          </v-col>
        </v-row>
      </v-card>
    </section>






  </section>
</template>
<script>
export default {
  data() {
    return {
      items: [
        {
          src: "ss01.webp"
        },
        {
          src: "ss02.webp"
        },
        {
          src: "ss03.webp"
        },
        {
          src: "ss04.webp"
        }
      ]
    };
  }
};
</script>
<style lang="scss" scoped>
.contentCenter {
  padding: 2em;
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
ul{
  list-style: none;
}
</style>
