<template>
  <section
    class="py-md-10"
    data-aos="fade-up"
    data-aos-duration="1500"
    data-aos-easing="ease-in"
    data-aos-once="true"
  >
    <div class="container">
         <h2 class="globalTitle">Teacher Training</h2>
      <v-row>
        <v-col cols="12" md="6">

          <p class="text-justify">
            IIMTT was established to help meet the growing demand for Montessori teachers in India and abroad. Students from all states of India, Gulf countries, North America, Europe, South Africa, Australia, Singapore, Indonesia and Far East participate in various courses offered by IIMTT and its affiliates. This course equips participants to educate children in the Montessori Method, at the pre- primary level anywhere in the world. Course is conducted over 220 hours and stretches between 6-12 months depending on contact hours as decided by franchisee academic calendar
          </p>

          <p class="text-justify">
            Over the course of the last decade, International Institute Of Montessori Teacher Training’s franchise program has found a ready market with preschools and international educators around the world. The simple and effective franchise model maximizes ROI for franchisees while staying completely rooted to the Montessori philosophy that our organization endorses. It is not a surprise then that IIMTT continues to be India’s premier teacher training brand popular amongst students and educational partners alike.
          </p>


        </v-col>
        <v-col cols="12" md="6">
          <iframe  src="https://www.youtube.com/embed/KDOWC6Fe_3Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </v-col>
      </v-row>
    </div>
  </section>
</template>


<script>
// import LazyYoutubeVideo from 'vue-lazy-youtube-video/src/VueLazyYoutubeVideo.vue'

export default {
  components: {
    // LazyYoutubeVideo
  }
};
</script>
<style lang="scss" scoped>
.sectionTitle {
  text-align: center !important;
}
</style>
