<template>
  <section >
    <section
      data-aos="fade-right"
      data-aos-duration="1500"
      data-aos-easing="ease-in"
      data-aos-once="true"
      >
      <v-card class="contentCenter">
        <v-row>
          <v-col md="6">
            <v-row align="center" justify="center">
              <v-img
                :src="require(`@/assets/img/teacherTraining/r0.webp`)"
                :lazy-src="require(`@/assets/img/teacherTraining/r0.webp`)"
                max-height="350"
                max-width="450"
                :contain="true"
                class="appWhyImage"
              ></v-img>
            </v-row>
          </v-col>
          <v-col cols="12" md="5">
            <v-row >
              <v-col>
                <div class="py-md-10">
                  <p class="globalTitle">IIMTT</p>
                  <p class="headline">International Affiliations</p>
                  <p class="body-1">
                  IIMTT is an ISO certified organization with recognitions from International Montessori Council (IMC), USA, International Montessori Society (IMS), USA, Chartered College of Teaching (UK) and London Teacher Training College (UK).
                  </p>
                </div>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card>
    </section>

    <section
      data-aos="fade-right"
      data-aos-duration="1500"
      data-aos-easing="ease-in"
      data-aos-once="true"
      >
      <v-card class="contentCenter">
        <v-row class="flexCR">
          <v-col cols="12" md="5" offset-md="1">
            <div class="py-md-10">
              <p class="globalTitle">IIMTT</p>
              <p class="headline">NATIONAL PRESENCE INTERNATIONAL RELEVANCE</p>
              <p class="body-1">
               IMTT is present across multiple continents and is strongly entrenched as a national brand for quality teacher education.

              </p>
            </div>
          </v-col>
          <v-col md="6">
            <v-row align="center" justify="center">
              <v-img
                :src="require(`@/assets/img/teacherTraining/r1.webp`)"
                :lazy-src="require(`@/assets/img/teacherTraining/r1.webp`)"
                max-height="350"
                max-width="450"
                class="appWhyImage"
              ></v-img>
            </v-row>
          </v-col>
        </v-row>
      </v-card>
    </section>

    <section
      data-aos="fade-left"
      data-aos-duration="1500"
      data-aos-easing="ease-in"
      data-aos-once="true"
      >
      <v-card class="contentCenter" outlined>
        <v-row>
          <v-col cols="12" md="6">
            <v-row align="center" justify="center">
              <v-img
                :src="require(`@/assets/img/teacherTraining/r2.webp`)"
                :lazy-src="require(`@/assets/img/teacherTraining/r2.webp`)"
                aspect-ratio="1"
                max-height="350"
                max-width="450"
                class="appWhyImage"
              ></v-img>
            </v-row>
          </v-col>
          <v-col cols="12" md="5">
            <div class="py-md-10">
                <h2 class="globalTitle">
                Classroom Training
              </h2>
              <p class="headline">
                MANDATORY CLASSROOM TRAINING AS PART OF COURSE
              </p>
              <p class="body-1">
                All participants in this course mandatorily attend an internship for in-class evaluation making them perfectly ready to face the challenges ahead in any classroom setting.

              </p>
            </div>
          </v-col>
        </v-row>
      </v-card>
    </section>


    <section
      data-aos="fade-right"
      data-aos-duration="1500"
      data-aos-easing="ease-in"
      data-aos-once="true"
    >
      <v-card class="contentCenter" outlined>
        <v-row class="flexCR">
          <v-col cols="12" md="5" offset-md="1">
            <div class="py-md-10">
              <h2 class="globalTitle">
                Audio Visual Presentation
              </h2>
              <p class="headline">
                220+ HOURS OF TRAINING MATERIAL IN AV FORMAT
              </p>
              <p class="body-1">
               Our huge repository of training material equips partners to conduct Audio Visual classes without any additional effort on their part. Every material is clearly mapped to our program of work and annual academic schedule.


              </p>
            </div>
          </v-col>
          <v-col cols="12" md="6">
            <v-row align="center" justify="center">
              <v-img
                :src="require(`@/assets/img/teacherTraining/r3.webp`)"
                :lazy-src="require(`@/assets/img/teacherTraining/r3.webp`)"
                aspect-ratio="1"
                max-height="350"
                max-width="450"
                class="appWhyImage"
              ></v-img>
            </v-row>
          </v-col>
        </v-row>
      </v-card>
    </section>
    <section
      data-aos="fade-left"
      data-aos-duration="1500"
      data-aos-easing="ease-in"
      data-aos-once="true"
      >
      <v-card class="contentCenter" outlined>
        <v-row>
          <v-col cols="12" md="6">
            <v-row align="center" justify="center">
              <v-img
                :src="require(`@/assets/img/teacherTraining/r5.webp`)"
                :lazy-src="require(`@/assets/img/teacherTraining/r5.webp`)"
                aspect-ratio="1"
                max-height="350"
                max-width="450"
                class="appWhyImage"
              ></v-img>
            </v-row>
          </v-col>
          <v-col cols="12" md="5">
            <div class="py-md-10">
              <h2 class="globalTitle">
                Online Montessori Teacher Training Test
              </h2>
              <p class="headline">
                WEB & MOBILE BASED ASSESSMENT & CLASS REFRESHER
              </p>
              <p class="body-1">
              Another unique feature of the IIMTT franchise is that every student has a student portal online from where the student can take web and mobile based assessment of concepts learnt in class. To supplement their learning, a complete online repository of class videos is also maintained which is accessible for students anytime.

              </p>
            </div>
          </v-col>
        </v-row>
      </v-card>
    </section>
    <section
      data-aos="fade-right"
      data-aos-duration="1500"
      data-aos-easing="ease-in"
      data-aos-once="true"
      >
      <v-card class="contentCenter" outlined>
        <v-row class="flexCR">
          <v-col cols="12" offset-md="1" md="5">
            <div class="py-md-10">
              <h2 class="globalTitle">
                MIS For Administration
              </h2>
              <p class="headline">
                ROBUST ONLINE LEARNING & MANAGEMENT PLATFORM
              </p>
              <p class="body-1">
               Our partners are given access to UDAAN, our franchisee MIS  platform that provides our business partners a platform to handle enquiries, admissions, manage stock and inventory, academic management, order management and so much more!

              </p>
            </div>
          </v-col>
          <v-col md="6">
            <v-row align="center" justify="center">
              <v-img
                :src="require(`@/assets/img/teacherTraining/r4.webp`)"
                :lazy-src="require(`@/assets/img/teacherTraining/r4.webp`)"
                aspect-ratio="1"
                max-height="350"
                max-width="450"
                class="appWhyImage"
              ></v-img>
            </v-row>
          </v-col>
        </v-row>
      </v-card>
    </section>
    <section
      data-aos="fade-right"
      data-aos-duration="1500"
      data-aos-easing="ease-in"
      data-aos-once="true"
      >
      <v-card class="contentCenter" outlined>
        <v-row>

          <v-col md="6">
            <v-row align="center" justify="center">
              <v-img
                :src="require(`@/assets/img/teacherTraining/r6.webp`)"
                :lazy-src="require(`@/assets/img/teacherTraining/r6.webp`)"
                aspect-ratio="1"
                max-height="350"
                max-width="450"
                class="appWhyImage"
              ></v-img>
            </v-row>
          </v-col>
          <v-col cols="12" md="5">
            <div class="py-10">
              <h2 class="globalTitle">
                IIMTT
              </h2>
              <p class="headline">
              JOBS FOR TEACHERS
              </p>
              <p class="body-1">
              IIMTT undoubtedly provides candidates a fantastic opportunity to connect with job opportunities for educators. Our industry connect as well as our job portal Jobs For Teachers (JFT), India’s first job portal specifically for teachers, gives our graduates superior placement advantages.
              </p>
            </div>
          </v-col>
        </v-row>
      </v-card>
    </section>
  </section>
</template>

<style lang="scss" scoped>
.contentCenter {
  padding: 5em 2em;
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
/*MOBILE DEVICES*/
@media only screen and (max-width: 786px) {
.contentCenter {
  padding: 1em;

}
}
</style>
