<template>
  <section class="sectionpd">
    <div class="container"

    >
      <!-- <p class="sectionTitle">About Us</p> -->
      <v-row>
        <v-col cols="12" md="5"
          data-aos="slide-left"
          data-aos-delay="100"
          data-aos-duration="1100"
          data-aos-easing="ease-in"
          data-aos-once="true"
        >
          <v-row align="center" justify="center">
            <v-img
              :src="require(`@/assets/img/about.jpg`)"
              :lazy-src="require(`@/assets/img/about.jpg`)"
              aspect-ratio="1"
              max-height="400"
              contain
            ></v-img>
          </v-row>
        </v-col>
        <v-col cols="12" md="7"
          data-aos="fade-right"
          data-aos-delay="500"
          data-aos-duration="1500"
          data-aos-easing="ease-in"
        >
          <v-row class="flex-column py-10 px-2">
            <h2 class="globalTitle">THE BEANSTALK</h2>
            <p class="headline">Our Company's History</p>
            <p>Established in 2012, we have transformed multi-folds from a single location franchisee preschool to a veritable expert in the field of early childhood education. Today we are solutions providers in the space of early childhood education with a pan India presence across various franchisee products in preschooling, teacher training and kids afterschool programs.</p>
            <p>We are marching forward towards becoming India's most admired early childhood education service provider.</p>
          </v-row>
        </v-col>
      </v-row>
    </div>
  </section>
</template>
<script>
export default {};
</script>
<style lang="scss" scoped>
.sectionTitle {
  font-size: 2em;
  text-align: center;
  padding: 1em 0;
  color: $mainColor;
}
</style>
