<template>
  <section
    class="py-10"
    data-aos="fade-up"
    data-aos-duration="1500"
    data-aos-easing="ease-in"
    data-aos-once="true"
  >
    <div class="container">
      <v-row>
        <v-col cols="12" md="6">
          <h2 class="globalTitle">The ILC Approach</h2>
          <p class="text-justify">
            Our entire approach is to make our partners realize that the business is around early childhood
            education in entirety. The silo-based approach of preschool franchisors have made re-imaging
            early childhood education difficult for most newbies in the industry. That’s why our Integrated
            Learning Centre (ILC) approach is a refreshing change.
          </p>
          <p class="text-justify">
            Partners now choose to acquire expertise in the field of early childhood education and operate a
            preschool, teacher training institute and a kids afterschool activity centre – all under one roof!
            This is without doubt the most lucrative preschool franchise model in India. A model that truly
            helps a partner set up a diversified business in early childhood education.
          </p>
        </v-col>
        <v-col cols="12" md="6">
            <iframe  src="https://www.youtube.com/embed/H1wuQ5OE4Zk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </v-col>
      </v-row>
    </div>
  </section>
</template>


<script>
// import LazyYoutubeVideo from 'vue-lazy-youtube-video/src/VueLazyYoutubeVideo.vue'

export default {
  components: {
    // LazyYoutubeVideo
  }
};
</script>
<style lang="scss" scoped>
.sectionTitle {
  text-align: center !important;
}
</style>
