<template>
  <section>
    <v-carousel hide-delimiters :show-arrows="false" cycle :interval="5000">
      <v-carousel-item
        v-for="(item,i) in items"
        :key="i"
        :src="require(`@/assets/img/banner/${item.src}`)"
      ></v-carousel-item>
    </v-carousel>

    <div class="container cards">
      <v-row>
        <v-col md="4">
          <v-card class="mx-auto pa-2 firstCard">
            <v-img
              class="white--text align-end"
              height="100px"
              :src="require(`@/assets/img/home/preschoolW.png`)"
              :lazy-src="require(`@/assets/img/home/preschoolW.png`)"
              contain
            ></v-img>

            <nuxt-link to="/international-preschool">
              <p class="title">International Preschool</p>
            </nuxt-link>

            <v-card-text>

              A uniquely international preschool franchisee opportunity for discerning customers looking for a strongly differentiated offering to set up a world class early childhood institute.</p>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col md="4">
          <v-card
            class="mx-auto rotatedCard pa-2"
            @mouseover="whiteIconTT"
            @mouseleave="orangeIconTT"
          >
            <v-img
              v-show="orangeTT"
              class="white--text align-end"
              height="100px"
              :src="require(`@/assets/img/home/trainingO.png`)"
              :lazy-src="require(`@/assets/img/home/trainingO.png`)"
              contain
            ></v-img>
            <v-img
              v-show="whiteTT"
              class="white--text align-end"
              height="100px"
              :src="require(`@/assets/img/home/trainingW.png`)"
              :lazy-src="require(`@/assets/img/home/trainingW.png`)"
              contain
            ></v-img>
            <nuxt-link to="/montessori-teacher-training">
              <v-card-title>Teacher Training</v-card-title>
            </nuxt-link>
            <v-card-text>An international teacher training franchise opportunity for edupreneurs looking to offer diversified educational services in the field of early childhood education.</v-card-text>
          </v-card>
        </v-col>

        <v-col md="4">
          <v-card class="mx-auto rotatedCard pa-2"
            @mouseover="whiteIconKA"
            @mouseleave="orangeIconKA"
          >
            <v-img
              v-show="orangeKA"
              class="white--text align-end"
              height="100px"
              :src="require(`@/assets/img/home/afterschoolO.png`)"
              :lazy-src="require(`@/assets/img/home/afterschoolO.png`)"
              contain
            ></v-img>
            <v-img
              v-show="whiteKA"
              class="white--text align-end"
              height="100px"
              :src="require(`@/assets/img/home/afterschoolW.png`)"
              :lazy-src="require(`@/assets/img/home/afterschoolW.png`)"
              contain
            ></v-img>
            <p class="title"></p>
            <nuxt-link to="/kids-afterschool">
              <v-card-title>Kids Afterschool</v-card-title>
            </nuxt-link>
            <v-card-text>The perfect franchise product for those keen on implementing unique and successful afterschool programs for kids aged 5-11 years.</v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </section>
</template>
<style lang="scss" scoped>
@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}
@mixin smoothTransition($duration) {
  transition: all $duration ease-in-out;
  -moz-transition: all $duration ease-in-out;
  -webkit-transition: all $duration ease-in-out;
  -o-transition: all $duration ease-in-out;
  -ms-transition: all $duration ease-in-out;
  -khtml-transition: all $duration ease-in-out;
}

.cards {
  margin-top: -15em;
}

.v-card {
  border-bottom: 4px solid $mainColor;
  text-align: center;
  min-height: 18em;
  max-width: 22em;
  border-radius: 2em;
  color: black!important;
  @include smoothTransition(0.5s);
  .v-card__title {
    color: black;
    justify-content: center;
  }
}

.rotatedCard:hover {
  transform: translateX(0) rotateZ(0) scale(0.95);
  @include smoothTransition(0.5s);
}

@media only screen and (min-width: 1200px) {
  .rotatedCard {
    @include rotate(-25deg);
  }
}
.firstCard {
  transform: translateX(0) rotateZ(0) scale(0.95);
  @include smoothTransition(1s);
  background: $mainColor;
  .title,
  .v-card__text {
    color: white !important;
    padding-top: 0;
  }
  .body-1 {
    // font-size: small;
  }
}
.v-card:hover {
  // transform: translateX(0) rotateZ(0) scale(0.95);
  @include smoothTransition(0.5s);
  background: $mainColor;
  color: white !important;
  cursor: pointer;
  .v-card__title,
  .v-card__text {
    color: white !important;
  }
}
</style>
<script>
export default {
  data() {
    return {
      whiteTT: false,
      orangeTT: true,
      whiteKA: false,
      orangeKA: true,
      items: [
        {
          src: "banner01.webp"
        },

        {
          src: "banner02.webp"
        }
      ]
    };
  },
  methods: {
    whiteIconTT: function() {
      this.whiteTT = true;
      this.orangeTT = false;
    },
    orangeIconTT: function() {
      this.whiteTT = false;
      this.orangeTT = true;
    },
    whiteIconKA: function() {
      this.whiteKA = true;
      this.orangeKA = false;
    },
    orangeIconKA: function() {
      this.whiteKA = false;
      this.orangeKA = true;
    }
  }
};
</script>

