<template>
  <section class="sectionbg sectionpd">
    <div
      class="container text-center"
    >
      <h2 class="globalTitle">Some Fun Facts</h2>
      <p class="px-md-10 mx-md-10 pa-5">
        The Beanstalk is a muti-continent early childhood education specialist on a mission to impact 5000+
        early learning centres and 10mn+ kids by year 2025.
      </p>
      <v-row>
        <v-col md="4">
          <div class="content">
            <v-icon x-large class="my-5">mdi-information-outlinebox-multiple-marked</v-icon>
            <p class="font-weight-bold">Continents</p>
            <p class="count"
            data-aos="flip-left"
            data-aos-delay="200"
            data-aos-duration="1500"
            data-aos-easing="ease-out-cubic"
            >
              <animated-number :value="value1" :formatValue="formatToText" :duration="7000" />
            </p>
          </div>
        </v-col>

        <v-col md="4">
          <div class="content">
            <v-icon x-large class="my-5">mdi-certificate</v-icon>
            <p class="font-weight-bold">
              Early Learning Centres
              Impacted
            </p>
            <p class="count"
            data-aos="flip-left"
            data-aos-delay="200"
            data-aos-duration="1500"
            data-aos-easing="ease-out-cubic"
            >
              <animated-number :value="value2" :formatValue="formatToPrice" :duration="7000" />
            </p>
          </div>
        </v-col>

        <v-col md="4">
          <div class="content">
            <v-icon x-large class="my-5">mdi-car-child-seat</v-icon>
            <p class="font-weight-bold">Children Impacted</p>
            <p class="count"
            data-aos="flip-left"
            data-aos-delay="200"
            data-aos-duration="1500"
            data-aos-easing="ease-out-cubic"
            >
              <animated-number :value="value3" :formatValue="formatToPrice" :duration="7000" />
            </p>
          </div>
        </v-col>
      </v-row>
    </div>
  </section>
</template>
<script>
import AnimatedNumber from "animated-number-vue";
export default {
  components: {
    AnimatedNumber
  },
  methods: {
    formatToPrice(value) {
      return `${value.toFixed(0)}+`;
    },
    formatToText(value) {
      return `${value.toFixed(0)}`;
    }
  },
  data: () => {
    return {
      value1: 2,
      value2: 100,
      value3: 50000
    };
  }
};
</script>
<style lang="scss" scoped>
.content {
  text-align: center;
  text-align: -webkit-center;
  padding: 0 4em;
  .count {
    font-size: 2em;
    font-weight: bold;
    color: $mainColor;
  }
}
</style>
