<template>
  <section>
    <div class="container"
      data-aos="fade-up"
      data-aos-delay="50"
      data-aos-duration="1500"
      data-aos-easing="ease-in"
      data-aos-once="true"
    >
      <h2 class="globalTitle text-center">How is our franchisee offering different</h2>
      <v-row>
        <v-col cols="12" md="3"
          data-aos="zoom-in-right"
          data-aos-delay="200"
          data-aos-duration="1500"
          data-aos-easing="ease-in"
          data-aos-once="true"
        >
          <v-card class="themeCard">
            <p class="headline">INTERNATIONALLY RELEVANT</p>
            <hr class="line" />
            <p>We are internationally recognized and our curriculum is strongly linked to internationally acknowledged best practices in early childhood education</p>
          </v-card>
        </v-col>
        <v-col cols="12" md="3"
          data-aos="zoom-in-left"
          data-aos-delay="200"
          data-aos-duration="1500"
          data-aos-easing="ease-in"
          data-aos-once="true"
        >
          <v-card class="themeCard">
            <p class="headline">ZERO <br> ROYALTY</p>
            <hr class="line" />
            <p>We do not charge any royalties for our products or services. There is no revenue that franchisees need to share with us.</p>
          </v-card>
        </v-col>
        <v-col cols="12" md="3"
          data-aos="zoom-in-right"
          data-aos-delay="200"
          data-aos-duration="1500"
          data-aos-easing="ease-in"
          data-aos-once="true"
        >
          <v-card class="themeCard">
            <p class="headline">UNLIMITED TENURE</p>
            <hr class="line" />
            <p>There is no 'end-date' to our relationship. Once you opt in, we serve your requirements forever.</p>
          </v-card>
        </v-col>
        <v-col cols="12" md="3"
          data-aos="zoom-in-left"
          data-aos-delay="200"
          data-aos-duration="1500"
          data-aos-easing="ease-in"
          data-aos-once="true"
        >
          <v-card class="themeCard">
            <p class="headline">EXCEPTIONAL SERVICE</p>
            <hr class="line" />
            <p>More than 70 hours of training. E-learning courses. Dedicated Manager in year 1. The Beanstalk's Infinity Service Package offered free of charge in year 1.</p>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </section>
</template>
<script>
export default {};
</script>
<style lang="scss" scoped>
.headline{
  text-align: center;
}
.themeCard{
  min-height: 20em;
}
</style>
