<template>
  <section
    data-aos="zoom-in"
    data-aos-delay="100"
    data-aos-duration="1500"
    data-aos-easing="ease-in"
    class="videoFullScreen"
  >
     <h2 class="globalTitle text-center mb-0">Our Franchise Offerings</h2>
    <p class="px-md-10 mx-md-10 text-center">
      From new edupreneurs to experienced early childhood practitioners. Our solutions are relevant for
      every stakeholder in this space.
    </p>
    <iframe class="fullScreenVideo" src="https://www.youtube.com/embed/c-CKsCpn3dc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!-- <vue-plyr>
      <div class="plyr__video-embed">
        <iframe
          src="https://youtu.be/c-CKsCpn3dc"
          allowfullscreen
          allowtransparency
          allow="autoplay"
        ></iframe>
      </div>
    </vue-plyr> -->
    <!-- <LazyYoutubeVideo url="https://www.youtube.com/watch?v=4JS70KB9GS0"/> -->
  </section>
</template>


<script>
// import LazyYoutubeVideo from "vue-lazy-youtube-video/src/VueLazyYoutubeVideo.vue";

export default {
  components: {
    // LazyYoutubeVideo
  }
};
</script>
<style lang="scss" scoped>
.sectionTitle {
  text-align: center !important;
}
.fullScreenVideo{
  width: 100vw;
  height: 30em;
}
</style>
