<template>
  <section class="sectionpd">
    <div class="container">
      
      <h2 class="globalTitle text-center">Our Values</h2>
      <v-row>
        <v-col cols="12" md="6"
          data-aos="fade-down-right"
          data-aos-delay="100"
          data-aos-duration="1000"
          data-aos-easing="linear"
          >
          <v-card class="themeCard">
            <div class="content">
              <p class="headline py-3">Quality</p>
              <p>We develop globally relevant and internationally benchmarked educational programs of the highest quality</p>
            </div>
          </v-card>
        </v-col>
        <v-col cols="12" md="6"
          data-aos="fade-down-left"
          data-aos-delay="100"
          data-aos-duration="1000"
          data-aos-easing="linear"
          >
          <v-card class="themeCard">
            <div class="content">
              <p class="headline py-3">Service</p>
              <p>We strongly differentiate our product offerings through best in-class service packages that are proudly customer friendly</p>
            </div>
          </v-card>
        </v-col>
        <v-col cols="12" md="6"
         data-aos="fade-up-right"
          data-aos-delay="100"
          data-aos-duration="1000"
          data-aos-easing="linear"
        >
          <v-card class="themeCard">
            <div class="content">
              <p class="headline py-3">Solutionists</p>
              <p>Our programs are designed to provide solutions to businesses. We incorporate cutting edge research into our curriculum and continue to develop programs that offer unique academic and commercial benefit to partners.</p>
            </div>
          </v-card>
        </v-col>
        <v-col cols="12" md="6"
          data-aos="fade-up-left"
          data-aos-delay="100"
          data-aos-duration="1000"
          data-aos-easing="linear"
        >
          <v-card class="themeCard">
            <div class="content">
              <p class="headline py-3">Stakeholder Driven</p>
              <p>We are obsessed about delivering the most differentiated and value driven proposition to our most important stakeholder - the little minds we work towards igniting!</p>
            </div>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </section>
</template>
<script>
export default {};
</script>
<style lang="scss" scoped>

.content {
  padding-left: 3em;
  border-left: 6px solid $mainColor;
  border-radius: 0!important;
  min-height: 11em;
}

@media only screen and (max-width: 600px) {

  .content {
  padding-left: 2em;

  }
}
</style>
