<template>
  <section class="mt8">
    <div class="container">
         <nav  class="breadcrumb">
          <ol>
            <li class="breadcrumb-item active" aria-current="page">Home >  </li>
            <li class="breadcrumb-item active" aria-current="page">AfterSchool >  </li>
            <li class="breadcrumb-item active" aria-current="page">Beanstalk3p </li>
          </ol>
        </nav>
      <v-tabs grow v-model="active" show-arrows class="pb-10">
        <v-tab>
          <nuxt-link to="cambridge"
            ><div>Cambridge Young Learners English</div></nuxt-link
          ></v-tab
        >
        <v-tab>
          <nuxt-link to="beanstalk3p"><div>Beanstalk 3P</div></nuxt-link></v-tab
        >
        <v-tab>
          <nuxt-link to="writo"><div>Writo</div></nuxt-link></v-tab
        >
        <v-tab>
          <nuxt-link to="maxbrain"><div>Maxbrain Abacus</div></nuxt-link></v-tab
        >
      </v-tabs>

      <section
        data-aos="fade-right"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
        >
        <v-card class="contentCenter pa-md-10">

          <v-row  class="pa-5">
            <v-col cols="12" md="6">
              <v-row>
                  <div class="d-flex flex-column flex-md-row">
            <img
              :src="require(`@/assets/img/3p.png`)"
              height="150"
              alt="Logo"
            />
            <p class="globalTitle ma-10">
              Beanstalk 3P
            </p>
            </div>
                <p class="body-1">
                  This is the only afterschool program in India for preschool
                  aged kids. These programs, which are a part of the augmented
                  curriculum at Beanstalk International Preschool is offered as
                  a supplementary afterschool program once a week on Saturdays
                  for external students. Each of these programs target specific
                  developmental domains in early childhood that’s critical for
                  the child. What do we achieve through these programs ?
                </p>
                <ul>
                  <li>Whole brain development through Minimax Abacus.</li>
                  <li>Early Literacy through Super Phonics.</li>
                  <li>Handwriting and cognitive development through Writo.</li>
                </ul>
                <p>
                  Here’s a quick introduction to the triple power of Beanstalk
                  3P. There’s strong scientific reasoning behind the
                  conceptualizing and implementation of each of these programs.
                  Call us to know more.
                </p>
              </v-row>
            </v-col>
            <v-col cols="12" md="6">
              <v-row align="center" justify="center">
                <v-carousel :interval="10000" cycle :dark="false" hide-delimiters>
                  <v-carousel-item>
                    <v-card
                      class="cardWithBorder text-center"
                      min-height="25em"
                    >
                      <v-img
                        class="align-end"
                        height="200px"
                        :src="require(`@/assets/img/afterschool/minimax.webp`)"
                        :lazy-src="
                          require(`@/assets/img/afterschool/minimax.webp`)
                        "
                        :contain="true"
                      ></v-img>
                      <!-- <p class="headline mt-5">Minimax</p> -->
                        <v-card-text>
                          <p class="pa-md-5">
                            The Minimax program builds foundational techniques that
                        make learning math effortless and enjoyable. By
                        mastering these techniques, students develop the ability
                        to think in pictures and quickly learn to perform large
                        calculations mentally. Right brain activation from the
                        pre schooling age helps leverage the full potential of
                        our brain. Minimax Abacus does that and much
                        more.
                          </p>
                        </v-card-text
                      >
                    </v-card>
                  </v-carousel-item>
                  <v-carousel-item>
                    <v-card
                      class="cardWithBorder text-center"
                      min-height="25em"
                    >
                      <v-img
                        class="align-end"
                        height="200px"
                        :src="require(`@/assets/img/afterschool/sp.webp`)"
                        :lazy-src="require(`@/assets/img/afterschool/sp.webp`)"
                        :contain="true"
                      ></v-img>
                      <!-- <p class="headline mt-5">Super Phonics</p> -->
                      <v-card-text
                        >
                         <p class="pa-md-5">
                           Super Phonics, tailored on the acclaimed Jolly Phonics
                        curriculum guidelines, develops a strong foundation for
                        reading and writing. It uses the synthetic phonics
                        method of teaching the letter sounds in a way that is
                        fun and multi-sensory. Children learn how to use the
                        letter sounds to read and write words. It’s a program
                        not just for kids, but also for the mommies – we tutor
                        you on the Super Phonics methodology so that for our
                        kids, the learning never stops.
                         </p>
                        </v-card-text
                      >
                    </v-card>
                  </v-carousel-item>
                  <v-carousel-item>
                    <v-card
                      class="cardWithBorder text-center"
                      min-height="25em"
                    >
                      <v-img
                        class="align-end"
                        height="250px"
                        :src="require(`@/assets/img/afterschool/pw.webp`)"
                        :lazy-src="require(`@/assets/img/afterschool/pw.webp`)"
                        :contain="true"
                      ></v-img>
                      <!-- <p class="headline mt-5">Printo, Writo’s</p> -->
                      <v-card-text>
                        <p class="pa-md-5">
                            Printo, Writo’s preschool program, is India’s only
                        Directed Handwriting Development program for
                        preschoolers.
                        <br />
                        PRINTO PRIME the writing readiness program 3-4yrs <br />
                        PRINTO FOUNDATION mastering the strokes 4-5yrs <br />
                        PRINTO RHYTHM towards fluency 5-6yrs​
                        </p>
                      </v-card-text>
                    </v-card>
                  </v-carousel-item>
                </v-carousel>
              </v-row>
            </v-col>
          </v-row>
        </v-card>
      </section>

    </div>
  </section>
</template>
<script>
export default {
  data: () => ({
    active: 1
  }),
  head () {
    return {
      title: 'kids afterschool beanstalk3p',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'We are marching forward towards becoming India\'s most admired early childhood education service provider.'
        }
      ],
      link: [
          { rel: 'canonical', href: 'https://franchise.beanstalkedu.com/montessori-teacher-training/kids-afterschool/beanstalk3p' }
            ]
    }
  },
};
</script>
