<template>
  <section class="mt8">
    <div class="container">
         <nav  class="breadcrumb">
          <ol>
            <li class="breadcrumb-item active" aria-current="page">Home >  </li>
            <li class="breadcrumb-item active" aria-current="page">AfterSchool >  </li>
            <li class="breadcrumb-item active" aria-current="page">Cambridge </li>
          </ol>
        </nav>
      <v-tabs grow v-model="active" show-arrows class="pb-10">
        <v-tab>
          <nuxt-link to="cambridge">
            <div>Cambridge Young Learners English</div>
          </nuxt-link>
        </v-tab>
        <v-tab>
          <nuxt-link to="beanstalk3p">
            <div>Beanstalk 3P</div>
          </nuxt-link>
        </v-tab>
        <v-tab>
          <nuxt-link to="writo">
            <div>Writo</div>
          </nuxt-link>
        </v-tab>
        <v-tab>
          <nuxt-link to="maxbrain">
            <div>Maxbrain Abacus</div>
          </nuxt-link>
        </v-tab>
      </v-tabs>

      <section
        data-aos="fade-right"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
        >
        <v-card class="contentCenter">
          <div class="d-flex align-center mx-5 flex-column flex-md-row">
            <img
              :src="require(`@/assets/img/yle.png`)"
              height="200"
              alt="Logo"
            />
            <p class="globalTitle mt-5">
              Cambridge Young Learners English (YLE)
            </p>
          </div>
          <v-row align="center">
            <v-col cols="12" md="7">
              <v-row>
                <p class="body-1 px-10">
                  Children who learn Communicative English when they are young,
                  have a significant advantage when they leave school. Cambridge
                  English exams are valued around the world and, with a
                  Cambridge English qualification, children can access the best
                  study, work and life opportunities.
                </p>
                <p class="body-1 px-10">
                  These exams are linked to the Common European Framework of
                  Reference for Languages (CEFR) – the internationally agreed
                  standard to describe language ability. This makes it easy to
                  see the progress your child is making in English, and for
                  employers and educational institutions to recognize your
                  child’s ability when they leave school.
                </p>
                <p class="body-1 px-10">
                  At The Beanstalk, we prepare kids with a solid foundation to
                  ace these assessment exams from Cambridge. The Beanstalk
                  Communicative English for Young Learners is a series of fun,
                  motivating English language multi-level program for children
                  in primary and lower-secondary education. There are three
                  activity-based tests – Starters, Movers and Flyers. This gives
                  students a clear path to improve in English.”
                </p>
              </v-row>
            </v-col>
            <v-col cols="12" md="5">
              <v-row align="center" justify="center" class="pa-5">
               <v-carousel height="300" :interval="3000" cycle hide-delimiter-background>
                  <v-carousel-item
                    v-for="(item, i) in items"
                    :key="i"
                    :src="require(`@/assets/img/afterschool/${item.src}`)"
                    reverse-transition="fade-transition"
                    transition="fade-transition"
                    contain
                    max-height="350"
                  ></v-carousel-item>
                </v-carousel>
              </v-row>
            </v-col>
          </v-row>
        </v-card>
      </section>

    </div>
  </section>
</template>
<script>
export default {
  data: () => ({
    active: 0,
     items: [
        {
          src: "cam.webp"
        },
        {
          src: "cam1.webp"
        },
        {
          src: "cam2.webp"
        }
      ]
  }),
  head () {
    return {
      title: 'AfterSchool',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'We are marching forward towards becoming India\'s most admired early childhood education service provider.'
        }
      ],
      link: [
          { rel: 'canonical', href: 'https://franchise.beanstalkedu.com/montessori-teacher-training/kids-afterschool/cambridge' }
            ]
    }
  },
};
</script>
