<template>
  <section class="mt8">
    <div class="container">
      <section
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
      >
        <nav  class="breadcrumb">
          <ol>
            <li class="breadcrumb-item active" aria-current="page">Home >  </li>
            <li class="breadcrumb-item active" aria-current="page">AfterSchool >  </li>
            <li class="breadcrumb-item active" aria-current="page">Intro </li>
          </ol>
        </nav>
        <div class="container">
          <v-row>
            <v-col cols="12" md="6">
              <p class="globalTitle">What is Beanstalk AfterSchool </p>
              <p class="body-1">Beanstalk Afterschool is an eclectic mix of afterschool programs for kids in the age group of 3-11 years, focussing on essentials like Brain development, communicative English, handwriting development, etc. We not only provide world-class education, but to do so along with providing the best-in-class support systems. AC Classrooms, Audio Visual Support, colorful environment – all add to the fun element in learning. Our Facilitators are highly trained, vastly experienced and are fully committed to delivering beyond your expectations.</p>
              <p class="body-1">The programs, which individually targets key parental concerns and aspirations, has been implemented after years of research and carries the stamp of quality that The Beanstalk stands for. Beanstalk Afterschool is now being run successfully across the country and our training partners can’t stop asking for more.</p>

            </v-col>
            <v-col cols="12" md="6">
              <iframe src="https://www.youtube.com/embed/anykKaUa36E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             <!-- <iframe src="https://www.youtube.com/embed/utB9_VwBdpA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            </v-col>
          </v-row>
        </div>
      </section>
      <section
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
        class="py-5"
      >
        <v-row>
          <v-col md="3">
            <v-card class="cardWithBorder text-center mb-5" min-height="38em">
              <v-img
                class="white--text align-end"
                height="300px"
                :src="require(`@/assets/img/afterschool/yle.webp`)"
                :lazy-src="require(`@/assets/img/afterschool/yle.webp`)"

              ></v-img>
              <p class="body-1 ma-3">Cambridge Young Learners English (YLE)</p>
              <v-card-text>Children who learn Communicative English when they are young, have a significant advantage when they leave school. Cambridge English exams are valued around the world ...</v-card-text>
              <nuxt-link to="kids-afterschool/cambridge">
              <v-btn color="primary">View More</v-btn>
               </nuxt-link>
            </v-card>
          </v-col>
          <v-col md="3">
            <v-card class="cardWithBorder text-center mb-5" min-height="38em">
              <v-img
                class="white--text align-end"
                height="300px"
                :src="require(`@/assets/img/afterschool/beastalk-3p.webp`)"
                :lazy-src="require(`@/assets/img/afterschool/beastalk-3p.webp`)"
              ></v-img>
              <p class="body-1 ma-3">Beanstalk 3P</p>
              <v-card-text>This is the only afterschool program in India for preschool aged kids. These programs, which are a part of the augmented curriculum at Beanstalk International Preschool is offered as a supplementary..</v-card-text>
              <nuxt-link to="kids-afterschool/beanstalk3p">
              <v-btn color="primary">View More</v-btn>
              </nuxt-link>
            </v-card>
          </v-col>
          <v-col md="3">
            <v-card class="cardWithBorder text-center mb-5" min-height="38em">
              <v-img
                class="white--text align-end"
                height="300px"
                :src="require(`@/assets/img/afterschool/writo.webp`)"
                :lazy-src="require(`@/assets/img/afterschool/writo.webp`)"
              ></v-img>
              <p class="body-1 ma-3">Writo</p>
              <v-card-text>A multi-sensory & directed handwriting program that early creates lasting nueral pathways ...</v-card-text>
               <nuxt-link to="kids-afterschool/writo">

              <v-btn color="primary">View More</v-btn>
               </nuxt-link>
            </v-card>
          </v-col>
          <v-col md="3">
            <v-card class="cardWithBorder text-center mb-5" min-height="38em">
              <v-img
                class="white--text align-end"
                height="300px"
                :src="require(`@/assets/img/afterschool/abacus.webp`)"
                :lazy-src="require(`@/assets/img/afterschool/abacus.webp`)"
              ></v-img>
              <p class="body-1 ma-3">Maxbrain Abacus</p>
              <v-card-text>
                MaxBrain Abacus Program is a complete brain development program for children 5-15 years of age, where they use abacus as a tool to perform simple to complicated arithmetic calculations.
                ...
              </v-card-text>
              <nuxt-link to="kids-afterschool/maxbrain">

              <v-btn color="primary">View More</v-btn>
              </nuxt-link>
            </v-card>
          </v-col>
        </v-row>
      </section>
    </div>
  </section>
</template>
<script>
export default {
   head () {
    return {
      title: 'Kids AfterSchool',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'We are marching forward towards becoming India\'s most admired early childhood education service provider.'
        }
      ],
      link: [
          { rel: 'canonical', href: 'https://franchise.beanstalkedu.com/montessori-teacher-training/kids-afterschool/' }
            ]
    }
  },
}
</script>
