<template>
  <section class="mt8">
    <div class="container">
         <nav  class="breadcrumb">
          <ol>
            <li class="breadcrumb-item active" aria-current="page">Home >  </li>
            <li class="breadcrumb-item active" aria-current="page">AfterSchool >  </li>
            <li class="breadcrumb-item active" aria-current="page">Maxbrain </li>
          </ol>
        </nav>
      <v-tabs grow v-model="active" show-arrows class="pb-10">
        <v-tab>
          <nuxt-link to="cambridge"
            ><div>Cambridge Young Learners English</div></nuxt-link
          ></v-tab
        >
        <v-tab>
          <nuxt-link to="beanstalk3p"><div>Beanstalk 3P</div></nuxt-link></v-tab
        >
        <v-tab>
          <nuxt-link to="writo"><div>Writo</div></nuxt-link></v-tab
        >
        <v-tab>
          <nuxt-link to="maxbrain"><div>Maxbrain Abacus</div></nuxt-link></v-tab
        >
      </v-tabs>
      <div
        data-aos="fade-in"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
      >

       <div class="d-flex flex-column flex-md-row afterschoolcardDiv">
            <img
              :src="require(`@/assets/img/max.png`)"
              class="afterschoolcardLogo"
              alt="Logo"
            />
            <p class="globalTitle ma-md-10 mt-10">
              Maxbrain Abacus
            </p>
          </div>


      <p class="body-1">
        MaxBrain Abacus Program is a complete brain development program for
        children 5-15 years of age, where they use abacus as a tool to perform
        simple to complicated arithmetic calculations.
      </p>

      <section class="py-5">
        <v-row>
          <v-col cols="12" md="6">
            <p class="headline">The Science</p>
            <p class="body-1">
              Numerous studies have shown that majority of human brain
              development takes place till the age of 13 years. Constant
              practicing on an abacus stimulates the growth of brain cells to
              sharpen the mental formation for a child and enhances the
              coordination between eyes, ears and hands through multisensory
              teaching. That is why this program is most beneficial for the
              children in the age group of 5- 13 years of age. Since this
              program uses the multisensory techniques which involve
              coordination of visual (eyes),auditory (ears), kinesthetic (motor
              memory), and tactile (hands) senses, it has been found to be very
              effective for students with learning disabilities too.
            </p>
          </v-col>
          <v-col cols="12" md="6">
            <v-img
              :aspect-ratio="16 / 9"
              max-height="300"
              :src="require(`@/assets/img/afterschool/max01.webp`)"
              contain
            ></v-img>
          </v-col>
        </v-row>
      </section>
      <section
        class="py-5"
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
        >
        <v-row>
          <v-col cols="12" md="6">
            <v-img
              :aspect-ratio="16 / 9"
              max-height="300"
              :src="require(`@/assets/img/afterschool/max02.webp`)"
              contain
            ></v-img>
          </v-col>
          <v-col cols="12" md="6">
            <p class="headline">The Program Deliverables</p>
            <p class="body-1">
              MaxBrain Abacus Program is a complete brain development program
              for children 5-13 years of age, where they use abacus as a tool to
              perform simple to complicated arithmetic calculations. It is a
              well-structured program which helps in brain development in young
              children. This course uses abacus to develop arithmetic skills of
              children which lead to overall self-learning skills development.
              Apart from teaching the mental math skills, this program works
              towards improving a child’s memory, concentration, attention span
              and focus.
            </p>
          </v-col>
        </v-row>
      </section>
      <section
        class="py-5"
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
        >
        <v-row>
          <v-col cols="12" md="6">
            <p class="headline">The 5 Max Edge</p>
            <p class="body-1">
              MaxBrain Abacus’ 5 Level Learning Program propels the learner and
              fast forwards his learning Five Times in just 15 months. Designed
              to assure 5 Times improvement in all aspects of brain development.
            </p>
          </v-col>
          <v-col cols="12" md="6">

          </v-col>
        </v-row>
      </section>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  data: () => ({
    active: 3
  }),
  head () {
    return {
      title: 'kids afterschool maxbrain',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'We are marching forward towards becoming India\'s most admired early childhood education service provider.'
        }
      ],
      link: [
          { rel: 'canonical', href: 'https://franchise.beanstalkedu.com/montessori-teacher-training/kids-afterschool/maxbrain' }
            ]
    }
  },
};
</script>
<style lang="scss" scoped>
section {
  padding: 1em;
}
</style>
