<template>
  <section class="mt8">
    <div class="container">
      <nav class="breadcrumb">
        <ol>
          <li class="breadcrumb-item active" aria-current="page">Home ></li>
          <li class="breadcrumb-item active" aria-current="page">AfterSchool ></li>
          <li class="breadcrumb-item active" aria-current="page">Writo</li>
        </ol>
      </nav>
      <v-tabs grow v-model="active" show-arrows class="pb-10">
        <v-tab>
          <nuxt-link to="cambridge">
            <div>Cambridge Young Learners English</div>
          </nuxt-link>
        </v-tab>
        <v-tab>
          <nuxt-link to="beanstalk3p">
            <div>Beanstalk 3P</div>
          </nuxt-link>
        </v-tab>
        <v-tab>
          <nuxt-link to="writo">
            <div>Writo</div>
          </nuxt-link>
        </v-tab>
        <v-tab>
          <nuxt-link to="maxbrain">
            <div>Maxbrain Abacus</div>
          </nuxt-link>
        </v-tab>
      </v-tabs>

      <section
        data-aos="fade-right"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
      >
        <v-card class="contentCenter pa-md-10">
          <v-row class="pa-5">
            <v-col cols="12" md="7">
              <v-row>
                <div class="d-flex flex-column flex-md-row afterschoolcardDiv">
                  <img
                    :src="require(`@/assets/img/afterschool/pw.webp`)"
                    class="afterschoolcardLogo"
                    alt="Logo"
                  />
                  <p class="globalTitle ma-md-10 mt-10">Writo</p>
                </div>
                <p></p>
                <p class="body-1 mt-5">
                  A comprehensive handwriting program for preschoolers and
                  beyond. As opposed to traditional visual copy technique
                  proposed through the 'trace and learn' method, Writo adopts
                  the scientifically progressive directed or movement based
                  learning that involves multiple sense organs to create lasting
                  neural pathways
                </p>
              </v-row>
            </v-col>
            <v-col cols="12" md="5">
              <v-row align="center" justify="center">
                <v-carousel :interval="3000" cycle hide-delimiters>
                  <v-carousel-item
                    v-for="(item, i) in items"
                    :key="i"
                    :src="require(`@/assets/img/afterschool/writo/${item.src}`)"
                    reverse-transition="fade-transition"
                    transition="fade-transition"
                    contain
                    max-height="400"
                  ></v-carousel-item>
                </v-carousel>
              </v-row>
            </v-col>
          </v-row>
        </v-card>
      </section>
    </div>
  </section>
</template>
<script>
export default {
  data: () => ({
    active: 2,
    items: [
      {
        src: "w01.webp"
      },
      {
        src: "w02.webp"
      },
      {
        src: "w03.webp"
      },
      {
        src: "w04.webp"
      },
      {
        src: "w05.webp"
      },
      {
        src: "w06.webp"
      },
      {
        src: "w07.webp"
      }
    ]
  }),
  head() {
    return {
      title: "kids afterschool writo",
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            "We are marching forward towards becoming India's most admired early childhood education service provider."
        }
      ],
      link: [
          { rel: 'canonical', href: 'https://franchise.beanstalkedu.com/montessori-teacher-training/kids-afterschool/writo' }
            ]
    };
  }
};
</script>
