<template>
  <section>
    <section class="header">
      <div class="container">
        <client-only>
          <h2>Aren't we awesome ?! Send us an enquiry.</h2>
          <div class="my-2">
            <v-btn @click="toggle = !toggle" small class="btnTheme"
              >Enquire Now</v-btn
            >
          </div>
        </client-only>
      </div>
    </section>
    <section class="inputs" v-if="toggle">
      <div class="container">
        <div class="row" v-if="formView2 == true">
          <div class="col-md-4">
            <v-text-field
              v-model="name"
              label="Name"
              required
              filled
            ></v-text-field>
          </div>
          <div class="col-md-4">
            <v-text-field
              v-model="phone"
              label="Phone"
              type="number"
              required
              filled
            ></v-text-field>
          </div>
          <div class="col-md-4">
            <v-text-field
              v-model="email"
              label="Email"
              required
              filled
            ></v-text-field>
          </div>
          <div class="col-md-6">
            <v-textarea
              filled
              name="input-7-4"
              label="Your Message"
              v-model="messageDetails"
              :auto-grow="true"
              :row-height="1"
              value
            ></v-textarea>
          </div>
          <div class="col-md-6">
            <h5>Enquiry Subject:</h5>
            <div>
              <v-radio-group
                class="enquirySubject"
                v-model="radios"
                :mandatory="false"
              >
                <v-radio label="Preschool" value="radio-1"></v-radio>
                <v-radio label="Teacher Training" value="radio-2"></v-radio>
                <v-radio label="Afterschool" value="radio-3"></v-radio>
              </v-radio-group>
            </div>
            <div>
              <p class="danger" v-if="formValid == true">
                Please Fill up all the fields
              </p>
              <v-btn @click="submitContactInfo" large text white--text
                >Submit Now</v-btn
              >
            </div>
          </div>
        </div>
        <div v-else class="row">
          <div class="container">
            <h2>
              Thank you {{ name }} for your interest! <br />We will get back to
              you soon!
            </h2>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>
<script>
export default {
  name: "AppEnquiry",
  data: () => ({
    toggle: false,
    formValid: false,
    formView2: true,
    valid: true,
    name: null,
    email: null,
    phone: null,
    messageDetails: null,
    items: ["Foo", "Bar", "Fizz", "Buzz"],
    radios: "radio-1",
    dropdown_font: ["Arial", "Calibri", "Courier", "Verdana"],
    mailApi: "https://mailapi.teenybeans.in"
  }),
  methods: {
    submitContactInfo: function() {
      // console.log('json.name');
      if (
        this.name == null ||
        this.email == null ||
        this.phone == null ||
        this.messageDetails == null
      ) {
        this.formValid = true;
        return;
      } else {
        this.formValid = false;
        let formData = new FormData();
        formData.append("formName", "FranchiseEnquiry");
        formData.append("Name", this.name);
        formData.append("Email", this.email);
        formData.append("Phone", this.phone);
        formData.append("MessageDetails", this.messageDetails + this.radios);
        fetch("https://api.teenybeans.in/API/contactFormProcessor/v1/", {
          method: "POST",
          body: formData
        })
          .then(res => res.json())
          .then(json => {
            console.log("hello");
            // alert("h");
            // console.log(json.name);
            // this.infoDetails=json.errorm;
            // this.infoDetails = json.info;
            if (json.errorm == "ok") {
              this.sendMail("teenybeans.info@gmail.com");
              // this.sendMail("chatterjeegouravking@gmail.com");
              this.sendWelcomeMail(this.email);
              this.formView2 = false;
              return this.formView2;
            } //window.location.href = "/thank-you";//router.push("thank-you")
            // this.formView=false;
            // return this.formView,this.infoDetails;
          });
      }
    },
    sendMail(sendEmail) {
      // ---------Mail sent-----------------
      var self = this;
      let formData = new FormData();
      formData.append("sendMail", "true");
      formData.append("reciever", sendEmail);
      formData.append("sender", "FranchiseSite");
      formData.append("senderMail", "no-reply@beanstalkedu.in");
      formData.append("subject", "New Enquiry Form Fillup");
      formData.append(
        "message",
        "<html><body><p>New Contact form is filled up.</p><br><p>User Details:-</p><table><tr><th>Name:- </th><td>:- " +
          self.name +
          "</td></tr><tr><th>Email:- </th><td>:- " +
          self.email +
          "</td></tr><tr><th>Phone:- </th><td>:- " +
          self.phone +
          "</td></tr><tr><th>Message:- </th><td>:- " +
          self.messageDetails +
          "</td></tr></table></body></html>"
      );
      fetch(this.mailApi + "/", {
        method: "POST",
        body: formData
      })
        .then(function(response) {
          response.json().then(function(data) {
            console.log(data);
          });
        })
        .catch(function(err) {
          console.log("Fetch Error :-S", err);
        });
    },
    sendWelcomeMail(sendEmail) {
      // ---------Mail sent-----------------
      var self = this;
      let formData = new FormData();
      formData.append("sendMail", "true");
      formData.append("reciever", sendEmail);
      formData.append("sender", "Beanstalkedu");
      formData.append("senderMail", "no-reply@beanstalkedu.in");
      formData.append("subject", "Welcome to Beanstalkedu Franchise Site");
      formData.append(
        "message",
        "<html><body><p>Welcome " +
          self.name +
          " to Beanstalkedu Franchise Site.<br>Thank you for contacting us. <br> We will get back to you shortly. In the meanwhile please do check out our website for more information. click <a href='https://franchise.beanstalkedu.com/'>here</a><br>Thank you<br>-Team Beanstalkedu. </p></body></html>"
      );
      fetch(this.mailApi + "/", {
        method: "POST",
        body: formData
      })
        .then(function(response) {
          response.json().then(function(data) {
            // console.log(data);
          });
        })
        .catch(function(err) {
          console.log("Fetch Error :-S", err);
        });
    },
  }
};
</script>
<style lang="scss" scoped>
.inputs {
  background: white;
}
.header {
  background-color: $mainColor;
  color: white;
}
.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h2 {
  font-weight: bold;
  font-size: 1em;
}

@media only screen and (max-width: 768px) {
  .header > .container {
    flex-direction: column;
  }
  h2 {
    font-size: 1.1em;
    text-align: center;
  }
}
</style>
