
<template>
    <section class="footer">
        <div class="container">
            <v-row align="center">
                <v-col md="6">
                    <div class="logo">
                        <img :src="require(`@/assets/img/logo.png`)" alt="Logo">
                    </div>
                    <p class="overflow">Beanstalkedu Services Pvt Ltd</p>
                </v-col>
                <v-col cols="12" md="3">
                   <p><span>Corporate Website</span> <br> <a target="_blank" href="https://beanstalkedu.com">www.beanstalkedu.com</a></p>
                </v-col>
                <v-col cols="12" md="3">
                  <p><span>Affiliate websites</span> <br> 
                   <a target="_blank" href="http://www.teenybeans.in">www.teenybeans.in</a> <br>
                   <a target="_blank" href="http://www.atheneumglobal.education">www.atheneumglobal.education</a>
                   </p>
                </v-col>
            </v-row>
            <hr>
            <v-row>
                <v-col cols="12" md="4" class="pa-md-5">

                    <p> DE 2B VIP Road. Kolkata 59. West Bengal. India.</p>

                </v-col>
                <v-col cols="12" md="4">
                  <p class="small text-center pb-4">CONNECT WITH US</p>
                  <ul class="socialIcon">
                    <li>
                      <a href="https://www.facebook.com/beanstalkedu/"><img :src="require(`@/assets/img/social/fb.svg`)" height="30"></a>
                    </li>
                    <li>
                      <a href="https://twitter.com/beanstalkedu"><img :src="require(`@/assets/img/social/tw.svg`)" height="30"></a>
                    </li>
                    <li>
                      <a href="https://www.youtube.com/channel/UCa3Q49ZVK2pXB616lfoWFxg"><img :src="require(`@/assets/img/social/yt.svg`)" height="30"></a>
                    </li>
                  </ul>
                </v-col>

                <v-col cols="12" md="4" class="pa-md-5">

                      <p> © 2020 Beanstalkedu Services Pvt Ltd. <br> All rights are reserved.</p>

                </v-col>
            </v-row>
        </div>
    </section>
</template>
<script>
export default {
}
</script>
<style lang="scss" scoped>
.footer{
    padding: 1em;
    background: #282828;
    color: white;
    .logo{
        img{
            height: 6em;
        }
    }
    ul{
      padding-left: 0;
    }
    ul.link{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        list-style: none;
        color:white;
        font-size: small;
        a{
            padding: 0.3em 0;
        }
    }
    ul>li{
        cursor: pointer;
    }
    .socialIcon{
      display: flex;
      justify-content: center;
      list-style: none;
      li{
        margin: 0 0.5em;
      }
    }
}
@media only screen and (max-width: 600px){
 ul.link{
     flex-direction: column;
 }
}
</style>
