<template>
  <section>
    <fixed-header  :threshold="300">
    <div class="navbar">
      <div class="content">
    <section class="topheader">
      <div class="container">
        <v-row>
          <v-col class="d-none d-md-block" md="2"></v-col>
          <v-col cols="6" md="5" class="d-flex align-end">
            <!-- <p class="overline font-weight-bold">For more info : beanstalk@gmail.com</p> -->
          </v-col>
          <v-col cols="6" md="5">
            <!-- <ul class="socialIcon">
              <li>
                <img :src="require(`@/assets/img/social/fb.svg`)" height="30" />
              </li>
              <li>
                <img :src="require(`@/assets/img/social/in.svg`)" height="30" />
              </li>
              <li>
                <img :src="require(`@/assets/img/social/tw.svg`)" height="30" />
              </li>
              <li>
                <img :src="require(`@/assets/img/social/yt.svg`)" height="30" />
              </li>
            </ul> -->
          </v-col>
        </v-row>
      </div>
    </section>
    <section class="header d-none d-md-block">
      <div class="container">
        <div class="logo">
          <nuxt-link to="/">
            <img :src="require(`@/assets/img/logo.png`)" alt="Logo" />
          </nuxt-link>
        </div>
        <div class="menu">
          <ul>
            <li v-for="(item, i) in items" :key="i" @click="gotoRoute(item.link,i)" :class="{active: isActive==i}">
              {{item.text}}
            </li>
          </ul>
        </div>
      </div>
    </section>


    <section>
      <div class="mobileMenu d-md-none">
        <div class="logo">
          <nuxt-link to="/">
            <img class="mobileLogo" :src="require(`@/assets/img/logo.png`)" alt="Logo" />
          </nuxt-link>
        </div>
        <div>
           <!-- <ul class="socialIcon">
            <li>
              <img :src="require(`@/assets/img/social/fb.svg`)" height="30" />
            </li>
            <li>
              <img :src="require(`@/assets/img/social/in.svg`)" height="30" />
            </li>
            <li>
              <img :src="require(`@/assets/img/social/tw.svg`)" height="30" />
            </li>
            <li>
              <img :src="require(`@/assets/img/social/yt.svg`)" height="30" />
            </li>
          </ul> -->


        </div>

          <v-icon large @click="sheet = !sheet">mdi-menu</v-icon>
      </div>
      <div>
        <v-bottom-sheet v-model="sheet" hide-overlay>
          <v-sheet height="485px">
            <v-btn text color="red" @click="sheet = !sheet">close</v-btn>

            <v-divider></v-divider>
            <v-list nav dense></v-list>

            <v-list nav dense>
              <v-list-item-group color="primary">
                <v-list-item v-for="(item, i) in items" :key="i" @click="gotoRoute(item.link)">
                  <v-list-item-content>
                    <v-list-item-title v-text="item.text"></v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-sheet>
        </v-bottom-sheet>
      </div>
    </section>
    </div>
    </div>
  </fixed-header>
  </section>
</template>

<script>
import FixedHeader from 'vue-fixed-header'
export default {
  components: {
    FixedHeader
  },
  data(){
    return {
      sheet: false,
      isActive: false,
        items: [
        { text: "Home", link: "/" },
        { text: "International Preschool", link: "/international-preschool/" },
        { text: "Teacher Training", link: "/montessori-teacher-training/" },
        { text: "Kids Afterschool", link: "/kids-afterschool/" },
        { text: "Support System", link: "/support-system/" },
        { text: "Contact", link: "/contact" }
      ]
    }
  },
   methods: {
    gotoRoute(link,index) {
      this.sheet=false;
      this.isActive = index;
      this.$router.push({
        path: link
      });
    }
   }
};
</script>
<style lang="scss" scoped>
.navbar.vue-fixed-header--isFixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 10;
  .header {
    background-color:$mainColor;
     li {
          color: white!important;
        }
        li.active{
          background-color:white!important;
          color:$mainColor!important;
          border-radius: 0.2em;
        }
  }
}
.container{
  padding: 0 12px!important;
}

.content{
  position: absolute;
  z-index: 100;
}
.mobileMenu{
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}
nav {
  width: 100%;
  height: 60px;
  background: #292f36;
  position: fixed;
  z-index: 10;
}
section {
  width: 100vw;
}
.topheader {
  .container {
    display: flex;
    justify-content: space-between;
  }
}
.header {
  background-color:#faebd73b;
  height: 4em;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      img {
        height: 8em;
        position: absolute;
        top: 0.4em;
      }
    }
    .menu {
      ul {
        list-style: none;
        display: flex;
        height: 4em;
        align-items: center;

        li {
          margin-left: 0.4em;
          padding: 0.8em;
          text-transform: capitalize;
          font-size: 0.85em;
          // height: 100%;
          color: #7b8086
        }
        li.active {
          background: #ec884a!important;
          color: white;
          border-radius: 0.2em;
        }
        li:hover {
          background: #ec8646;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}
.socialIcon {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  li {
    margin: 0 0.5em;
  }
}

@media only screen and (max-width: 768px) {
  .topheader{
    display: flex;
    .container{
       padding-bottom: 0!important;
    }
  }
  .mobileMenu{
    padding:0 1em;

    .mobileLogo{

      height: 100px;
    }
  }

}
</style>
