// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$mainColor : #f56912!important;
$logoGreen: #468e24!important;
$bgColor:#e9dbc8;
