<template>
  <section>
    <div class="container">
      <section
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
      >
      
          <v-row>
          <v-col cols="12" md="5">
            <v-row align="center" justify="center">
              <v-img
                :src="require(`@/assets/gifs/psa.gif`)"
                :lazy-src="require(`@/assets/gifs/psa.gif`)"
                height="350"
                :contain="true"
              ></v-img>
            </v-row>
          </v-col>
          <v-col
            cols="12"
            md="7"
            >
             <h2 class="globalTitle">PSA CURRICULUM</h2>
            <p class="body-1">
              Children are born ready, fit and eager to learn. They actively
              reach out to interact with other people and the environment around
              them. Development is not an automatic process, however. It depends
              on each unique child having unique opportunities to interact in
              positive relationships and enabling environments.
            </p>
          </v-col>
        </v-row>
      </section>

      <section
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
      >
        <v-row>
          <v-col class="d-flex flex-column pa-5" cols="12" md="7">
            <p class="body-1">
              <b>PRIME</b> areas are fundamental, work together, and are move through to support development in all other areas.
            </p>
            <ul>
              <li>
                <v-icon>mdi-information-outline-bold</v-icon>Personal, Social and Emotional Development
              </li>
              <li>
                <v-icon>mdi-information-outline-bold</v-icon>Communication and Language
              </li>
              <li>
                <v-icon>mdi-information-outline-bold</v-icon>Physical Development
              </li>
            </ul>
            <p>
              The prime areas begin to develop quickly in response to relationships and experiences, and
              run through and support learning in all other areas. The prime areas continue to be fundamental
              throughout the EYFS.
            </p>
          </v-col>
          <v-col cols="12" md="5">
            <v-row align="center" justify="center">
              <v-img
                :src="require(`@/assets/gifs/prime.gif`)"
                :lazy-src="require(`@/assets/gifs/prime.gif`)"
                 height="350"
                :contain="true"
              ></v-img>
            </v-row>
          </v-col>
        </v-row>
      </section>

      <section
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
      >
        <v-row class="specific">
          <v-col class="cc" cols="12" md="5">
            <v-row align="center" justify="center">
              <v-img
                :src="require(`@/assets/gifs/specific.gif`)"
                :lazy-src="require(`@/assets/gifs/specific.gif`)"
                 height="350"
                :contain="true"
              ></v-img>
            </v-row>
          </v-col>
          <v-col class="d-flex flex-column pa-5" cols="12" md="7">
            <p class="body-1">
              <b>SPECIFIC</b> areas include essential skills and knowledge for children to participate successfully in society.
            </p>
            <ul>
              <li>
                <v-icon>mdi-information-outline-bold</v-icon>Literacy
              </li>
              <li>
                <v-icon>mdi-information-outline-bold</v-icon>Mathematics
              </li>
              <li>
                <v-icon>mdi-information-outline-bold</v-icon>Understanding the World
              </li>
              <li>
                <v-icon>mdi-information-outline-bold</v-icon>Expressive Arts and Design
              </li>
            </ul>
            <p>The specific areas include essential skills and knowledge. They grow out of the prime areas, and provide important contexts for learning.</p>
          </v-col>
        </v-row>
      </section>

      <section
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
      >
        <v-row>
          <v-col class="d-flex flex-column pa-5" cols="12" md="7">
            <p class="body-1">
              <b>AUGMENTED</b> areas include supplementary skills for children to get sharper on new age competencies relevant for global citizens of tomorrow.
            </p>
            <ul>
              <li>
                <v-icon>mdi-information-outline-bold</v-icon>Early Literacy
              </li>
              <li>
                <v-icon>mdi-information-outline-bold</v-icon>Enhanced Cognition
              </li>
              <li>
                <v-icon>mdi-information-outline-bold</v-icon>Whole Brain Development
              </li>
              <li>
                <v-icon>mdi-information-outline-bold</v-icon>Physical Wellbeing
              </li>
              <li>
                <v-icon>mdi-information-outline-bold</v-icon>Linguistic Versatility
              </li>
            </ul>
          </v-col>
          <v-col class="cc" cols="12" md="5">
            <v-row align="center" justify="center">
              <v-img
                :src="require(`@/assets/gifs/aug.gif`)"
                :lazy-src="require(`@/assets/gifs/aug.gif`)"
                height="350"
                :contain="true"
              ></v-img>
            </v-row>
          </v-col>
        </v-row>
      </section>

      <section
        class="py-10"
        data-aos="fade-in"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
      >
        <p class="body-1">Want to know more about our PSA Curriculum. Subscribe and Download a free literature about the program.</p>
        <v-btn color="primary">Subscribe Now !</v-btn>
      </section>
    </div>
  </section>
</template>

<script>
// import LazyYoutubeVideo from "vue-lazy-youtube-video";

export default {
  components: {
    // LazyYoutubeVideo
  }
};
</script>

<style lang="scss" scoped>
section {
  margin: 2em 0;
}
ul {
  list-style: none;
}
</style>
