<template>
  <section>
    <v-tabs show-arrows center-active vertical>
      <v-tab>At A Glance</v-tab>
      <v-tab>ROI</v-tab>
      <v-tab>Deliverables</v-tab>
      <v-tab>Why Us</v-tab>
      <!-- <v-tab>Our Model</v-tab> -->

      <v-tab-item>
        <v-card
          class="content pa-md-5"
          data-aos="fade-up"
          data-aos-duration="1500"
          data-aos-easing="ease-in"
          data-aos-once="true"
        >
          <v-row>
            <v-col>
              <h2 class="globalTitle">All you need to get started</h2>
              <p class="px-md-10">
                The Beanstalk is a muti-continent early childhood education
                specialist on a mission to impact 5000+ early learning centres
                and 10mn+ kids by year 2025.
              </p>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" md="5" offset-md="1">
              <v-card class="themeCard">
                <v-icon x-large class="my-5">mdi-bookmark-check</v-icon>
                <p class="font-weight-bold">ZERO ROYALTY</p>
                <p>There is no royalty. Ever. Period.</p>
              </v-card>
            </v-col>

            <v-col cols="12" md="5">
              <v-card class="themeCard">
                <v-icon x-large class="my-5">mdi-certificate</v-icon>
                <p class="font-weight-bold">UNLIMITED TENURE</p>
                <p>
                  We don’t work on tenure. An academic institution is forever.
                  So are our services.
                </p>
              </v-card>
            </v-col>

            <v-col cols="12" md="5" offset-md="1">
              <v-card class="themeCard">
                <v-icon x-large class="my-5">mdi-car-child-seat</v-icon>
                <p class="font-weight-bold">DIVERSIFIED SOLUTION</p>
                <p>
                  Truly diversified solution with three engines for growth.
                  Enhances returns and crashes payback period.
                </p>
              </v-card>
            </v-col>
            <v-col cols="12" md="5">
              <v-card class="themeCard">
                <v-icon x-large class="my-5">mdi-car-child-seat</v-icon>
                <p class="font-weight-bold">CREDIBILITY</p>
                <p>
                  With the Teeny Beans solution, you are not just another
                  preschool. You are an expert in the field of early childhood
                  education.
                </p>
              </v-card>
            </v-col>
          </v-row>
          <v-row class="mt-10">
            <v-col cols="12" class="pa-5">
              <h2 class="globalTitle">Franchise With US</h2>
              <p class="body-1 text-justify">
                Want to be an entrepreneur? Then, the Beanstalkedu franchise
                opportunity is the best stepping stone towards fulfilling your
                aspirations. With an experienced management and a professional
                team of the best playschool experts to guide you, we offer you
                an investment friendly opportunity with immense long term
                benefits.
              </p>
            </v-col>
            <v-col cols="12" md="4">
              <div
                data-aos="flip-left"
                data-aos-delay="100"
                data-aos-duration="1500"
                data-aos-easing="ease-in"
              >
                <v-card class="themeCard">
                <v-img
                  :src="require(`@/assets/img/franchise/01.png`)"
                  :lazy-src="require(`@/assets/img/franchise/01.png`)"
                  :contain="true"
                  height="200"
                ></v-img>
                <p class="headline">Pre Set Up</p>
                </v-card>
              </div>
            </v-col>
            <v-col cols="12" md="4">
              <div
                data-aos="flip-left"
                data-aos-delay="400"
                data-aos-duration="1500"
                data-aos-easing="ease-in"
              >
                <v-card class="themeCard">
                <v-img
                  :src="require(`@/assets/img/franchise/02.png`)"
                  :lazy-src="require(`@/assets/img/franchise/02.png`)"
                  :contain="true"
                  height="200"
                ></v-img>
                <p class="headline">During Set Up</p>
                </v-card>
              </div>
            </v-col>
            <v-col cols="12" md="4">

                <div
                data-aos="flip-left"
                data-aos-delay="700"
                data-aos-duration="1500"
                data-aos-easing="ease-in"
              >
               <v-card class="themeCard">
                <v-img
                  :src="require(`@/assets/img/franchise/03.png`)"
                  :lazy-src="require(`@/assets/img/franchise/03.png`)"
                  :contain="true"
                  height="200"
                ></v-img>
                <p class="headline">Post Set Up</p>
              </v-card>
              </div>
            </v-col>
          </v-row>
        </v-card>
      </v-tab-item>

      <v-tab-item>
        <v-card
          class="content pa-md-5"
          data-aos="fade-up"
          data-aos-duration="1500"
          data-aos-easing="ease-in"
          data-aos-once="true"
        >
          <h2 class="globalTitle">Key Financial Projection</h2>
          <p class="headline">With Conservative Assumtions</p>
          <v-row>
            <v-col cols="12" md="4">
              <div class="key">
                <div class="circle">
                  <p class="count">
                    <animated-number
                      :value="value1"
                      :formatValue="formatToIRR"
                      :duration="3000"
                    />
                  </p>
                </div>
                <p class="overline">PROJECT IRR</p>
                <p class="caption">
                  Internal rate of return for your investment
                </p>
              </div>
            </v-col>
            <v-col cols="12" md="4">
              <div class="key">
                <div class="circle">
                  <p class="count">
                    <animated-number
                      :value="value2"
                      :formatValue="formatTo"
                      :duration="3000"
                    />
                  </p>
                </div>
                <p class="overline">PROJECT PERIOD</p>
                <p class="caption">Time taken for your investment return</p>
              </div>
            </v-col>
            <v-col cols="12" md="4">
              <div class="key">
                <div class="circle">
                  <p class="count">
                    <animated-number
                      :value="value3"
                      :formatValue="formatToROI"
                      :duration="3000"
                    />
                  </p>
                </div>
                <p class="overline">ROI</p>
                <p class="caption">Cashflow projection after 20 years</p>
              </div>
            </v-col>
            <v-col cols="12" md="4" offset-md="2">
              <div class="key">
                <div class="circle">
                  <p class="count">
                    <animated-number
                      :value="value4"
                      :formatValue="formatToLaks"
                      :duration="3000"
                    />
                  </p>
                </div>
                <p class="overline">PROJECT INVESTMENT</p>
                <p class="caption">
                  Investment required for a full-fledged Beanstalkedu Preschool
                  set up.
                </p>
              </div>
            </v-col>
            <v-col cols="12" md="4">
              <div class="key">
                <div class="circle">
                  <p class="count">
                    <animated-number
                      :value="value5"
                      :formatValue="formatToMonths"
                      :duration="1000"
                    />
                  </p>
                </div>
                <p class="overline">Break Even Point</p>
                <p class="caption">Achievement of positive cash flow</p>
              </div>
            </v-col>
          </v-row>
        </v-card>
      </v-tab-item>

      <v-tab-item>
        <v-card class="content pa-md-5">
          <section
            class="sectionBG1"
            data-aos="fade-up"
            data-aos-duration="1500"
            data-aos-easing="ease-in"
            data-aos-once="true"
          >
            <div class="container">
              <h2 class="globalTitle">Comprehensive Set Up Solution</h2>
              <p class="body-1 py-5">
                A Beanstalkedu International Preschool Franchise opens up a
                world of possibilities. But before you get there, we travel
                along with you every step of the way from ideation to creation
                to implementation. Setting up a preschool was never easier with
                Beanstalkedu International Preschool.
              </p>
              <div class="row">
                <div class="col-md-4">
                  <v-card class="ComSetupSolution cardWithBorder">
                    <img
                      :src="require(`@/assets/img/BIP/01.png`)"
                      alt="BUSINESS CONSULTANCY"
                    />
                    <p class="headline">BUSINESS CONSULTANCY</p>
                    <hr class="line" />
                    <p class="body-1">
                      First time edupreneurs need constant support and advice.
                      Our expertise in this field adds value at a time when you
                      need it the most.
                    </p>
                  </v-card>
                </div>
                <div class="col-md-4">
                  <v-card class="ComSetupSolution cardWithBorder">
                    <img
                      :src="require(`@/assets/img/BIP/02.png`)"
                      alt="DESIGN SERVICES"
                    />
                    <p class="headline">DESIGN SERVICES</p>
                    <hr class="line" />
                    <p class="body-1">
                      Complete internal design dossier on creating a playschool
                      benchmarked to international standards.
                    </p>
                  </v-card>
                </div>
                <div class="col-md-4">
                  <v-card class="ComSetupSolution cardWithBorder">
                    <img
                      :src="require(`@/assets/img/BIP/03.png`)"
                      alt="TRAINING & DEVELOPMENT"
                    />
                    <p class="headline">TRAINING & DEVELOPMENT</p>
                    <hr class="line" />
                    <p class="body-1">
                      More than 70+ hours of in-depth curriculum, business and
                      financial training for partners, administrators and
                      teachers.
                    </p>
                  </v-card>
                </div>
                <div class="col-md-4">
                  <v-card class="ComSetupSolution cardWithBorder">
                    <img
                      :src="require(`@/assets/img/BIP/04.png`)"
                      alt="BRANDING"
                    />
                    <p class="headline">BRANDING</p>
                    <hr class="line" />
                    <p class="body-1">
                      Branded solution covering all aspects of school set up -
                      books, marketing collaterals, office supplies, etc
                    </p>
                  </v-card>
                </div>
                <div class="col-md-4">
                  <v-card class="ComSetupSolution cardWithBorder">
                    <img
                      :src="require(`@/assets/img/BIP/05.png`)"
                      alt="FURNITURE"
                    />
                    <p class="headline">FURNITURE</p>
                    <hr class="line" />
                    <p class="body-1">
                      Colorful and child friendly furniture that is also
                      friendly on the pocket
                    </p>
                  </v-card>
                </div>
                <div class="col-md-4">
                  <v-card class="ComSetupSolution cardWithBorder">
                    <img
                      :src="require(`@/assets/img/BIP/06.png`)"
                      alt="PLAY EQUIPMENTS"
                    />
                    <p class="headline">PLAY EQUIPMENTS</p>
                    <hr class="line" />
                    <p class="body-1">
                      Age appropriate play equipments necessary for the set up
                      of your school.
                    </p>
                  </v-card>
                </div>
                <div class="col-md-4">
                  <v-card class="ComSetupSolution cardWithBorder">
                    <img
                      :src="require(`@/assets/img/BIP/07.png`)"
                      alt="LEARNING AIDS"
                    />
                    <p class="headline">LEARNING AIDS</p>
                    <hr class="line" />
                    <p class="body-1">
                      Identification and shipment of learning aids that are
                      fully integrated with the preschool curriculum
                    </p>
                  </v-card>
                </div>
                <div class="col-md-4">
                  <v-card class="ComSetupSolution cardWithBorder">
                    <img
                      :src="require(`@/assets/img/BIP/08.png`)"
                      alt="DIGITAL MARKETING"
                    />
                    <p class="headline">DIGITAL MARKETING</p>
                    <hr class="line" />
                    <p class="body-1">
                      Google My Business Set Up & Management Online Reputation
                      Management Managing Local Listings Social Media Marketing
                      Advising on Paid advertising
                    </p>
                  </v-card>
                </div>
                <div class="col-md-4">
                  <v-card class="ComSetupSolution cardWithBorder">
                    <img
                      :src="require(`@/assets/img/BIP/09.png`)"
                      alt="RECRUITMENTS"
                    />
                    <p class="headline">RECRUITMENTS</p>
                    <hr class="line" />
                    <p class="body-1">
                      Complete assistance in recruitment of administrators and
                      teachers
                    </p>
                  </v-card>
                </div>
              </div>
            </div>
          </section>
        </v-card>
      </v-tab-item>

      <v-tab-item>
        <v-card class="content pa-md-5">
          <section
            class="sectionBG1"
            data-aos="fade-up"
            data-aos-duration="1500"
            data-aos-easing="ease-in"
            data-aos-once="true"
          >
            <div class="container">
              <h2 class="globalTitle">Why Franchise With Us</h2>
                <p class="body-1 py-5">
                Our deep seated expertise as educators and partners is the
                reason why you should choose us. Our commitment goes far beyond
                the sign up process. We are committed to see you not just
                achieve your financial goals but also entrench you as an early
                childhood expert of repute in your ecosystem.
              </p>
              <div class="row">
                <div class="col-md-4">
                  <v-card class="ComSetupSolution cardWithBorder">
                    <img
                      :src="require(`@/assets/img/BIP/04.png`)"
                      alt="BRANDING"
                    />
                    <p class="headline">BRANDING</p>
                    <hr class="line" />
                    <p class="body-1">
                      Branded solution covering all aspects of school set up -
                      books, marketing collaterals, office supplies, etc
                    </p>
                  </v-card>
                </div>
                <div class="col-md-4">
                  <v-card class="ComSetupSolution cardWithBorder">
                    <img
                      :src="require(`@/assets/img/BIP/value.png`)"
                      alt="FURNITURE"
                    />
                    <p class="headline">VALUES</p>
                    <hr class="line" />
                    <p class="body-1">
                      Colorful and child friendly furniture that is also
                      friendly on the pocket
                    </p>
                  </v-card>
                </div>
                <div class="col-md-4">
                  <v-card class="ComSetupSolution cardWithBorder">
                    <img
                      :src="require(`@/assets/img/BIP/academic.png`)"
                      alt="PLAY EQUIPMENTS"
                    />
                    <p class="headline">ACADEMICS</p>
                    <hr class="line" />
                    <p class="body-1">
                      Age appropriate play equipments necessary for the set up
                      of your school.
                    </p>
                  </v-card>
                </div>
              </div>

            </div>
          </section>
        </v-card>
      </v-tab-item>

      <!-- <v-tab-item></v-tab-item> -->
    </v-tabs>
  </section>
</template>
<script>
import AnimatedNumber from "animated-number-vue";
export default {
  components: {
    AnimatedNumber
  },
  methods: {
    formatToIRR(value) {
      return `${value.toFixed(0)}%`;
    },
    formatToROI(value) {
      return `${value.toFixed(0)}X`;
    },
    formatToMonths(value) {
      return `${value.toFixed(0)}Months`;
    },
    formatToLaks(value) {
      return `${value.toFixed(0)}Laks`;
    },
    formatTo(value) {
      return `${value.toFixed(0)}`;
    }
  },
  data: () => {
    return {
      value1: 64,
      value2: 27,
      value3: 60,
      value4: 3,
      value5: 18
    };
  }
};
</script>
<style lang="scss" scoped>
.content {
  text-align: center !important;
  text-align: -webkit-center;
  padding: 0.5em;
}
.v-card {
  min-height: 14em;
}
.key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  .count {
    font-size: 1.5em;
    color: white;
  }
  .circle {
    background: $mainColor;
    width: 9em;
    height: 9em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10em;
    margin: 1em;
  }
  .overline {
    font-size: 1em !important;
    font-weight: bold;
    margin: 1em;
  }
}

/*TAB 3*/

.ComSetupSolution {
  margin: 1em 0;
  text-align: center;
  min-height: 24em;
}
.ComSetupSolution > img {
  height: 9em;
}
</style>
