<template>
  <section
    class="py-md-10"
    data-aos="fade-up"
    data-aos-duration="1500"
    data-aos-easing="ease-in"
    data-aos-once="true"
  >
    <div class="container">
      <v-row>
        <v-col cols="12" md="6">
          <h2 class="globalTitle">Beanstalk International Preschool</h2>
          <p class="text-justify">
            A uniquely international preschool franchisee opportunity for discerning customers looking for a
            strongly differentiated offering to set up a world class early childhood institute.
            Zero Royalty. Unlimited Tenure. Lowest Priced Study Kits. Highest Quality of Books and
            International Educational Programs.
          </p>
          <p class="text-justify">
            From the House of successful franchisee brands IIMTT and Beanstalk Kids AfterSchool and
            India's best D-I-Y preschool solution – Teeny Beans Preschool Solution.
          </p>
        </v-col>
        <v-col cols="12" md="6">
         <iframe  src="https://www.youtube.com/embed/qCBY7s3O9R4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </v-col>
      </v-row>
    </div>
  </section>
</template>


<script>
// import LazyYoutubeVideo from 'vue-lazy-youtube-video/src/VueLazyYoutubeVideo.vue'

export default {
  components: {
    // LazyYoutubeVideo
  }
};
</script>
<style lang="scss" scoped>
.sectionTitle {
  text-align: center !important;
}
</style>
