<template>
  <section>
    <v-tabs show-arrows v-model="active" center-active vertical>
      <v-tab>Toddlers</v-tab>
      <v-tab>Play Group</v-tab>
      <v-tab>Kindergarten I</v-tab>
      <v-tab>Kindergarten II</v-tab>
      <v-tab>Kindergarten III</v-tab>

      <v-tab-item>
        <AppToddlers />
      </v-tab-item>
      <v-tab-item>
        <AppPlay />
      </v-tab-item>

      <v-tab-item>
        <AppKg1 />
      </v-tab-item>

      <v-tab-item>
        <AppKg2 />
      </v-tab-item>

      <v-tab-item>
        <AppKg3 />
      </v-tab-item>
    </v-tabs>
  </section>
</template>

<script>
import AppToddlers from "../../components/InternationalPreschool/programs/AppToddlers";
import AppPlay from "../../components/InternationalPreschool/programs/AppPlay";
import AppKg1 from "../../components/InternationalPreschool/programs/AppKg1";
import AppKg2 from "../../components/InternationalPreschool/programs/AppKg2";
import AppKg3 from "../../components/InternationalPreschool/programs/AppKg3";
export default {
  components: {
    AppToddlers,
    AppPlay,
    AppKg1,
    AppKg2,
    AppKg3
  },
  data:()=>({
   
    active:0
    
  })

};
</script>
<style lang="scss" scoped>
.v-card__title {
  background: #00000070 !important;
}

ul {
  list-style: none;
}
</style>
