<template>
  <section class="pa-md-3">
    <div class="container">
      <section
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
      >
        <v-row>
          <v-col cols="12" md="5">
            <v-row align="center" justify="center">
              <v-img
                :src="require(`@/assets/gifs/philosophy.gif`)"
                :lazy-src="require(`@/assets/gifs/philosophy.gif`)"
                aspect-ratio="1"
                max-height="300"
              ></v-img>
            </v-row>
          </v-col>
          <v-col
            cols="12"
            md="7"
          >
             <h2 class="globalTitle">Our Approach</h2>
            <p class="body-1">
              Children are born ready, fit and eager to learn. They actively
              reach out to interact with other people and the environment around
              them. Development is not an automatic process, however. It depends
              on each unique child having unique opportunities to interact in
              positive relationships and enabling environments.
            </p>
            <p class="body-1 font-weight-bold">
              The core of our existential philosophy are the four pillars that
              underpin all guidance.
            </p>
          </v-col>
        </v-row>
      </section>

      <section
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
      >
        <v-row>
          <v-col cols="12" md="3">
            <v-card class="mx-auto" max-width="344">
              <v-img
                :src="require(`@/assets/img/ph/unique.png`)"
                :lazy-src="require(`@/assets/img/ph/unique.png`)"
                aspect-ratio="1"
                max-height="200"
                :contain="true"
              ></v-img>

              <v-card-title>
                1.Unique Child(UC)
              </v-card-title>

              <v-card-subtitle>
                Every child is a unique child who is constantly learning and can
                be resilient, capable, confident and self-assured.
              </v-card-subtitle>

              <v-card-actions>
                <!-- <v-btn text>Share</v-btn>

                <v-btn color="purple" text>
                  Explore
                </v-btn> -->

                <v-spacer></v-spacer>

                <v-btn icon @click="showUC = !showUC">
                  <v-icon>{{
                    showUC ? "mdi-chevron-up" : "mdi-chevron-down"
                  }}</v-icon>
                </v-btn>
              </v-card-actions>

              <v-expand-transition>
                <div v-show="showUC">
                  <v-divider></v-divider>

                  <v-card-text>
                    <p>As practitioners –</p>
                    <ul>
                      <li>
                        <v-icon>mdi-information-outline-bold</v-icon>
                        We understand and observe each child’s development and
                        learning, assess progress, plan for next steps
                      </li>
                      <li>
                        <v-icon>mdi-information-outline-bold</v-icon>Support babies and
                        children to develop a positive sense of their own
                        identity and culture
                      </li>
                      <li>
                        <v-icon>mdi-information-outline-bold</v-icon>Identify any need for
                        additional support
                      </li>
                      <li><v-icon>mdi-information-outline-bold</v-icon>Keep children safe</li>
                      <li>
                        <v-icon>mdi-information-outline-bold</v-icon>Value and respect all
                        children and families equally
                      </li>
                    </ul>
                  </v-card-text>
                </div>
              </v-expand-transition>
            </v-card>
          </v-col>
          <v-col cols="12" md="3">
            <v-card class="mx-auto" max-width="344">
              <v-img
                :src="require(`@/assets/img/ph/positive.png`)"
                :lazy-src="require(`@/assets/img/ph/positive.png`)"
                aspect-ratio="1"
                max-height="200"
                :contain="true"
              ></v-img>

              <v-card-title>
                2.Positive Relationships(PR)
              </v-card-title>

              <v-card-subtitle>
                Children learn to be strong and independent through positive
                relationships.
              </v-card-subtitle>

              <v-card-actions>
                <!-- <v-btn text>Share</v-btn>

                <v-btn color="purple" text>
                  Explore
                </v-btn> -->

                <v-spacer></v-spacer>

                <v-btn icon @click="showPR = !showPR">
                  <v-icon>{{
                    showPR ? "mdi-chevron-up" : "mdi-chevron-down"
                  }}</v-icon>
                </v-btn>
              </v-card-actions>

              <v-expand-transition>
                <div v-show="showPR">
                  <v-divider></v-divider>

                  <v-card-text>
                    <p>
                      Positive relationships are –
                    </p>
                    <ul>
                      <li>
                        <v-icon>mdi-information-outline-bold</v-icon>Warm and loving, and
                        foster a sense of belonging
                      </li>
                      <li>
                        <v-icon>mdi-information-outline-bold</v-icon>Sensitive and responsive
                        to the child’s needs, feelings and interests
                      </li>
                      <li>
                        <v-icon>mdi-information-outline-bold</v-icon>Supportive of the child’s
                        own efforts and independence
                      </li>
                      <li>
                        <v-icon>mdi-information-outline-bold</v-icon>Consistent in setting
                        clear boundaries
                      </li>
                      <li><v-icon>mdi-information-outline-bold</v-icon>Stimulating</li>
                      <li>
                        <v-icon>mdi-information-outline-bold</v-icon>Built on key person
                        relationships in early years settings
                      </li>
                    </ul>
                  </v-card-text>
                </div>
              </v-expand-transition>
            </v-card>
          </v-col>
          <v-col cols="12" md="3">
            <v-card class="mx-auto" max-width="344">
              <v-img
                :src="require(`@/assets/img/ph/environment.png`)"
                :lazy-src="require(`@/assets/img/ph/environment.png`)"
                aspect-ratio="1"
                max-height="200"
                :contain="true"
              ></v-img>

              <v-card-title>
                3.Enabling Environments(EE)
              </v-card-title>

              <v-card-subtitle>
                Children learn and develop well in enabling environments, in
                which their experiences respond to their individual needs.
              </v-card-subtitle>

              <v-card-actions>
                <!-- <v-btn text>Share</v-btn>

                <v-btn color="purple" text>
                  Explore
                </v-btn> -->

                <v-spacer></v-spacer>

                <v-btn icon @click="showEE = !showEE">
                  <v-icon>{{
                    showEE ? "mdi-chevron-up" : "mdi-chevron-down"
                  }}</v-icon>
                </v-btn>
              </v-card-actions>

              <v-expand-transition>
                <div v-show="showEE">
                  <v-divider></v-divider>

                  <v-card-text>
                    <p>
                      Enabling Environments –
                    </p>
                    <ul>
                      <li><v-icon>mdi-information-outline-bold</v-icon>Value all people</li>
                      <li><v-icon>mdi-information-outline-bold</v-icon>Value learning</li>
                    </ul>
                    <p>
                      They offer –
                    </p>
                    <ul>
                      <li>
                        <v-icon>mdi-information-outline-bold</v-icon>Stimulating resources,
                        relevant to all the children’s cultures and communities
                      </li>
                      <li>
                        <v-icon>mdi-information-outline-bold</v-icon>Rich learning
                        opportunities through play and playful teaching
                      </li>
                      <li>
                        <v-icon>mdi-information-outline-bold</v-icon>Support for children to
                        take risks and explore
                      </li>
                    </ul>
                  </v-card-text>
                </div>
              </v-expand-transition>
            </v-card>
          </v-col>
          <v-col cols="12" md="3">
            <v-card class="mx-auto" max-width="344">
              <v-img
                :src="require(`@/assets/img/ph/learning.png`)"
                :lazy-src="require(`@/assets/img/ph/learning.png`)"
                aspect-ratio="1"
                max-height="200"
                :contain="true"
              ></v-img>

              <v-card-title>
                4.Learning & Development(LD)
              </v-card-title>

              <v-card-subtitle>
                Children develop and learn in different ways. The framework
                covers the education and care of all children in early years
                provision. disabilities.
              </v-card-subtitle>

              <v-card-actions>
                <!-- <v-btn text>Share</v-btn>

                <v-btn color="purple" text>
                  Explore
                </v-btn> -->

                <v-spacer></v-spacer>

                <v-btn icon @click="showLD = !showLD">
                  <v-icon>{{
                    showLD ? "mdi-chevron-up" : "mdi-chevron-down"
                  }}</v-icon>
                </v-btn>
              </v-card-actions>

              <v-expand-transition>
                <div v-show="showLD">
                  <v-divider></v-divider>

                  <v-card-text>
                    <p>
                      Practitioners teach children by ensuring challenging,
                      playful opportunities across the prime and specific areas
                      of learning and development. They foster the
                      characteristics of effective early learning
                    </p>
                    <ul>
                      <li>
                        <v-icon>mdi-information-outline-bold</v-icon>Playing and exploring
                      </li>
                      <li><v-icon>mdi-information-outline-bold</v-icon>Active learning</li>
                      <li>
                        <v-icon>mdi-information-outline-bold</v-icon>Creating and thinking
                        critically
                      </li>
                    </ul>
                  </v-card-text>
                </div>
              </v-expand-transition>
            </v-card>
          </v-col>
        </v-row>
      </section>

      <section
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
      >
        <v-row>
          <v-col class="d-flex flex-column" cols="12">
            <h2 class="globalTitle text-center">Learning Characteristics</h2>
            <p class="body-1">
              The Unique Child reaches out to relate to people and things
              through the Characteristics of Effective Learning, which move
              through all areas of learning.
            </p>
            <ul>
              <li><v-icon>mdi-information-outline-bold</v-icon>Playing and Exploring</li>
              <li><v-icon>mdi-information-outline-bold</v-icon>Active Learning</li>
              <li>
                <v-icon>mdi-information-outline-bold</v-icon>Creating and Thinking Critically
              </li>
            </ul>
            <p>
              The ways in which the child engages with other people and their
              environment – playing and exploring, active learning, and creating
              and thinking critically – underpin learning and development across
              all areas and support the child to remain an effective and
              motivated learner.
            </p>
          </v-col>
        </v-row>
      </section>

      <section
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
      >
        <v-row>
          <v-col cols="12" md="4">
            <v-card class="mx-auto cardWithBorder">
              <v-img
                 :src="require(`@/assets/img/ph/playing.png`)"
                :lazy-src="require(`@/assets/img/ph/playing.png`)"
                aspect-ratio="1"
                max-height="250"
              >

              </v-img>


              <v-card-text class="text--primary">
                <p class="headline">1.Playing and Exploring</p>
                <p class="body-1"> Finding out and exploring. Playing with what they know. Being
              willing to ‘have a go’.</p>
              </v-card-text>

            </v-card>
          </v-col>
          <v-col cols="12" md="4">
            <v-card class="mx-auto cardWithBorder" >
              <v-img
                :src="require(`@/assets/img/ph/learning.png`)"
                :lazy-src="require(`@/assets/img/ph/learning.png`)"
                 aspect-ratio="1"
                max-height="250"
              >

              </v-img>


              <v-card-text class="text--primary">
                <p class="headline">2.Active Learning</p>
                <p class="body-1">  Being involved and concentrating Keeping trying. Enjoying
              achieving what they set out to do.</p>
              </v-card-text>

            </v-card>
          </v-col>
          <v-col cols="12" md="4">
            <v-card class="mx-auto cardWithBorder">
              <v-img
                 :src="require(`@/assets/img/ph/thinking.png`)"
                :lazy-src="require(`@/assets/img/ph/thinking.png`)"
                aspect-ratio="1"
                max-height="250"
              >

              </v-img>


              <v-card-text class="text--primary">
                <p class="headline"> 3.Creating and Thinking Critically</p>
                <p class="body-1">  Having their own ideas. Making links. Choosing ways to do things.
            </p>
              </v-card-text>

            </v-card>
          </v-col>
        </v-row>
      </section>



      <section
        data-aos="fade-in"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
      >
        <p class="body-1">
          Know more about our approach an pedagogic principles.
        </p>
        <v-btn color="primary">Download Brochure</v-btn>
      </section>
    </div>
  </section>
</template>
<script>
export default {
  data: () => ({
    showUC: false,
    showPR: false,
    showEE: false,
    showLD: false
  })
};
</script>
<style lang="scss" scoped>

ul {
  list-style: none;
}
.v-card {
  .v-card__title {
    font-size: medium;
  }
  .v-card__subtitle {
    min-height: 7.5em;
  }
}
.v-card__text{
  min-height: 12em;
}
</style>
