<template>
  <v-app>
    <section v-if="!loader">

      <div class="fixedHeader">
        <AppHeader />
      </div>
      <div class="body">
        <nuxt />
        <AppEnquiry/>
        <AppFooter />
      </div>

    </section>
    <section>
        <div v-if="loader" class="loader">

          <img
            :src="require(`@/assets/gifs/loader.gif`)"
            :lazy-src="require(`@/assets/gifs/loader.gif`)"
            height="100"
          />

      </div>
    </section>
  </v-app>
</template>

<script>
import AppHeader from "../components/AppHeader";
import AppFooter from "../components/AppFooter";
import AppEnquiry from "../components/AppEnquiry";
export default {
  components: {
    AppHeader,
    AppFooter,
    AppEnquiry
  },
  data() {
    return {
      loader:true
    };
  },
  mounted(){
    setTimeout(()=>{
      this.loader=false;
    },4000)

  }
};
</script>
<style lang="scss" scoped>
.loader{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
// .landing {
//     height: 100%;
//     width: 100%;
//     position: fixed;
// }
// .landing-wrapper {
//     height: 100%;
// }
.fixedHeader {
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 10em;
  // z-index: 10;
  // background: #fff8ef;
}
.body{
  // margin-top: 10em;
  // height: 100vh;
}
@media only screen and (max-width: 768px) {
// .fixedHeader {

//   height: 8.5em;
// }
// .body{
//   margin-top: 8.5em;
// }
}
</style>
