<template>
  <section class="mt8">
    <div class="container">
      <div class="headTitleContainer">
        <nav class="breadcrumb">
          <ol>
            <li class="breadcrumb-item active" aria-current="page">Home ></li>
            <li class="breadcrumb-item active" aria-current="page">Contact</li>
          </ol>
        </nav>
        <div class="container">
          <h2>Contact Us</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-12">
          <v-row>
            <v-col cols="4" md="4">
              <v-select
                :items="country"
                label="Select Country"
                v-model="selectedCountry"
                @change="getCity"
                outlined
              ></v-select>
            </v-col>
            <v-col cols="4" md="4">
              <v-select
                :items="city"
                label="Select City"
                v-model="selectedCity"
                @change="getCenter"
                outlined
              ></v-select>
            </v-col>
            <v-col cols="4" md="4">
              <v-select
                :items="center"
                label="Select Center"
                v-model="selectedCenter"
                @change="getMapSourse"
                outlined
              ></v-select>
            </v-col>
          </v-row>

          <v-row>
            <iframe
              :src="selectedMapSource"
              width="100%"
              height="450"
              frameborder="0"
              style="border:0;"
              allowfullscreen
            ></iframe>
          </v-row>
        </div>
        <div class="col-md-6 col-12">
          <section class="inputs">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="address">
                    <p>DE 2B VIP Road. Kolkata 59. West Bengal. India.</p>
                    <p>
                      <span>+91-97483 86431</span>&nbsp;
                      <span>+91-334065 2177</span>
                    </p>
                    <p></p>
                    <p>enquiry@beanstalkedu.com</p>
                  </div>
                </div>
              </div>
              <div v-if="formView==true" class="row">
                <div class="col-md-12 col-12">
                  <v-text-field v-model="name" :rules="nameRules" label="Name" required filled></v-text-field>
                </div>
                <div class="col-md-6 col-12">
                  <v-text-field v-model="email" :rules="emailRules" label="Email" required filled></v-text-field>
                </div>
                <div class="col-md-6 col-12">
                  <v-text-field v-model="phone" label="Phone" type="number" required filled></v-text-field>
                </div>
                <div class="col-md-12 col-12">
                  <v-textarea
                    filled
                    v-model="messageDetails"
                    name="input-7-4"
                    label="Your Message"
                    :auto-grow="true"
                    :row-height="1"
                    value
                  ></v-textarea>
                  <p class="danger" v-if="formValid == true">Please Fill up all the fields</p>
                </div>
                <div class="col-md-12">
                  <div>
                    <v-btn x-large @click.prevent="submitContactInfo" class="themeBtn">Submit Now</v-btn>
                  </div>
                </div>
              </div>
              <div v-else class="row">
                <div class="container">
                  <h2>
                    Thank you {{ name }} for your interest!
                    <br />We will get back to you soon!
                  </h2>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  head() {
    return {
      title: "Contact - Atheneum College",
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            "We are in the business of breaking down barriers. Find out how we make practical, career-focused learning more accessible than ever before."
        }
      ],
      link: [
          { rel: 'canonical', href: 'https://franchise.beanstalkedu.com/contact' }
            ]
    };
  },
  data: () => ({
    toggle: false,
    formView: true,
    formValid: false,
    valid: true,
    name: "",
    nameRules: [
      v => !!v || "Name is required",
      v => (v && v.length <= 10) || "Name must be less than 10 characters"
    ],
    email: "",
    emailRules: [
      v => !!v || "E-mail is required",
      v => /.+@.+\..+/.test(v) || "E-mail must be valid"
    ],
    phone: "",
    items: ["Foo", "Bar", "Fizz", "Buzz"],
    radios: "radio-1",
    dropdown_font: ["Arial", "Calibri", "Courier", "Verdana"],
    mapitems: ["Kadugodi", "MICO Layout", "Patuli", "Baguiati Main Center"],
    country: [],
    city: [],
    center: [],
    messageDetails: null,
    selectedCountry: "",
    selectedCity: "",
    selectedCenter: "",
    selectedMapSource: "",
    response: [],
    mailApi: "https://mailapi.teenybeans.in"
    // response: [
    //   {
    //     Country: "India",
    //     City: "Bengaluru",
    //     Center: "Kadugodi",
    //     Map:
    //       "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.3971414437474!2d77.73372181482239!3d13.0103628908305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x57713903db131522!2sInternational%20Institute%20Of%20Montessori%20Teacher%20Training%2C%20Kadugodi%2C%20Bangalore!5e0!3m2!1sen!2sin!4v1575976792747!5m2!1sen!2sin"
    //   },
    //   {
    //     Country: "India",
    //     City: "Bengaluru",
    //     Center: "MICO Layout",
    //     Map:
    //       "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.92805726503!2d77.60216761482134!3d12.912345390894792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x201ed006198ccd7f!2sInternational%20Institute%20Of%20Montessori%20Teacher%20Training%2C%20MICO%20Layout%2C%20Bengaluru!5e0!3m2!1sen!2sin!4v1575977047218!5m2!1sen!2sin"
    //   },
    //   {
    //     Country: "India",
    //     City: "Nagaland",
    //     Center: "Dimapur",
    //     Map:
    //       "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3588.758316994104!2d93.72778641502396!3d25.910314383569578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa064cf5bcaad32ec!2sInternational%20Institute%20Of%20Montessori%20Teacher%20Training%2C%20Old%20Overbridge%20Colony%2C%20Dimapur!5e0!3m2!1sen!2sin!4v1575977116177!5m2!1sen!2sin"
    //   },
    //   {
    //     Country: "India",
    //     City: "Kolkata",
    //     Center: "Patuli",
    //     Map:
    //       "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3686.869583027076!2d88.38271951495778!3d22.47153468523485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3f2a933d6e8434d2!2sInternational%20Institute%20Of%20Montessori%20Teacher%20Training%2C%20Patuli%2C%20Kolkata!5e0!3m2!1sen!2sin!4v1575977220523!5m2!1sen!2sin"
    //   },
    //   {
    //     Country: "India",
    //     City: "Kolkata",
    //     Center: "Baguiati Main Center",
    //     Map:
    //       "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3683.024802209051!2d88.42817031496038!3d22.615548985160657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe0f80202dde787aa!2sInternational%20Institute%20Of%20Montessori%20Teacher%20Training%20Kolkata!5e0!3m2!1sen!2sin!4v1575977273391!5m2!1sen!2sin"
    //   },
    //   {
    //     Country: "Kenya",
    //     City: "Nairobi",
    //     Center: "Nairobi",
    //     Map:
    //       "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.865287087374!2d36.80116751475374!3d-1.2523442990865608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f170cfaa34df7%3A0x37d1039e7d610430!2sOak%20House%20International%20Preschool!5e0!3m2!1sen!2sin!4v1576050391613!5m2!1sen!2sin"
    //   }
    // ]
  }),
  created() {
    this.fetchCenterList();
  },
  mounted() {
    this.$nextTick(() => {
      this.$nuxt.$loading.start();
      setTimeout(() => this.$nuxt.$loading.finish(), 500);
    });
    //  this.getDefaultMap();
  },
  methods: {
    submitContactInfo: function() {
      // console.log('json.name');
      if (
        this.name == null ||
        this.email == null ||
        this.phone == null ||
        this.messageDetails == null
      ) {
        this.formValid = true;
        return;
      } else {
        this.formValid = false;
        let formData = new FormData();
        formData.append("formName", "FranchiseContact");
        formData.append("Name", this.name);
        formData.append("Email", this.email);
        formData.append("Phone", this.phone);
        formData.append("MessageDetails", this.messageDetails);
        fetch("https://api.teenybeans.in/API/contactFormProcessor/v1/", {
          method: "POST",
          body: formData
        })
          .then(res => res.json())
          .then(json => {
            // alert("h");
            // console.log(json.name);
            // this.infoDetails=json.errorm;
            this.infoDetails = json.info;
            if (json.errorm == "ok") {
              this.formView = false;
              // this.sendMail("enquiry@atheneumglobal.education");
              // this.sendMail("enquiry@beanstalkedu.com");
              this.sendMail("teenybeans.info@gmail.com");
              // this.sendMail("chatterjeegouravking@gmail.com");
              this.sendWelcomeMail(this.email);
              return this.formView;
            } //window.location.href = "/thank-you";//router.push("thank-you")
            // this.formView=false;
            // return this.formView,this.infoDetails;
          });
      }
    },
    sendMail(sendEmail) {
      // ---------Mail sent-----------------
      var self = this;
      let formData = new FormData();
      formData.append("sendMail", "true");
      formData.append("reciever", sendEmail);
      formData.append("sender", "FranchiseSite");
      formData.append("senderMail", "no-reply@beanstalkedu.in");
      formData.append("subject", "New Contact Form Fillup");
      formData.append(
        "message",
        "<html><body><p>New Contact form is filled up.</p><br><p>User Details:-</p><table><tr><th>Name:- </th><td>:- " +
          self.name +
          "</td></tr><tr><th>Email:- </th><td>:- " +
          self.email +
          "</td></tr><tr><th>Phone:- </th><td>:- " +
          self.phone +
          "</td></tr><tr><th>Message:- </th><td>:- " +
          self.messageDetails +
          "</td></tr></table></body></html>"
      );
      fetch(this.mailApi + "/", {
        method: "POST",
        body: formData
      })
        .then(function(response) {
          response.json().then(function(data) {
            console.log(data);
          });
        })
        .catch(function(err) {
          console.log("Fetch Error :-S", err);
        });
    },
    sendWelcomeMail(sendEmail) {
      // ---------Mail sent-----------------
      var self = this;
      let formData = new FormData();
      formData.append("sendMail", "true");
      formData.append("reciever", sendEmail);
      formData.append("sender", "Beanstalkedu");
      formData.append("senderMail", "no-reply@beanstalkedu.in");
      formData.append("subject", "Welcome to Beanstalkedu Franchise Site");
      formData.append(
        "message",
        "<html><body><p>Welcome " +
          self.name +
          " to Beanstalkedu Franchise Site.<br>Thank you for contacting us. <br> We will get back to you shortly. In the meanwhile please do check out our website for more information. click <a href='https://franchise.beanstalkedu.com/'>here</a><br>Thank you<br>-Team Beanstalkedu. </p></body></html>"
      );
      fetch(this.mailApi + "/", {
        method: "POST",
        body: formData
      })
        .then(function(response) {
          response.json().then(function(data) {
            // console.log(data);
          });
        })
        .catch(function(err) {
          console.log("Fetch Error :-S", err);
        });
    },
    async fetchCenterList() {
      try {
        const responseFromApi = await this.$axios.$get(
          `https://api.teenybeans.in/API/centerList/v1/`
        );
        responseFromApi.map((item, index) => {
          this.response.push(item);
        });
        this.getDefaultMap();
        // console.log(this.response);
      } catch (error) {
        console.error(error);
      }
    },
    getDefaultMap() {
      (this.selectedCountry = this.response[0].Country),
        (this.selectedCity = this.response[0].City),
        (this.selectedCenter = this.response[0].Center),
        (this.selectedMapSource = this.response[0].Map),
        this.getCountry();
      this.getCity();
      this.getCenter();
    },
    getCountry() {
      this.response.filter((item, index) => {
        this.country.push(item.Country);
      });
    },
    getCity() {
      this.city = [];
      this.center = [];
      this.response.filter((item, index) => {
        if (item.Country == this.selectedCountry) {
          this.city.push(item.City);
        }
      });
    },
    getCenter() {
      this.center = [];
      this.response.filter((item, index) => {
        if (item.City == this.selectedCity) {
          this.center.push(item.Center);
        }
      });
    },
    getMapSourse() {
      this.response.filter((item, index) => {
        if (
          item.City == this.selectedCity &&
          item.Center == this.selectedCenter
        ) {
          this.selectedMapSource = item.Map;
        }
      });
    }
  }
};
</script>

<style scoped>
.inputs {
  padding: 0 1em 1em;
}
.row {
  align-items: center;
}
.header {
  padding: 0 1em 1em;
}
.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h2 {
  font-weight: bold;
  font-size: 2em;
}
@media only screen and (max-width: 768px) {
  .header > .container {
    flex-direction: column;
  }
}
</style>
