<template>
  <section>
    <AppBanner />
    <AppAbout />
    <AppVideo />
    <AppAproach />
    <AppOffer />
    <AppFunfacts />
    <AppValues />


  </section>
</template>

<script>
import AppBanner from "../components/Home/AppBanner";
import AppAbout from "../components/Home/AppAbout";
import AppOffer from "../components/Home/AppOffer";
import AppValues from "../components/Home/AppValues";
import AppFunfacts from "../components/Home/AppFunfacts";
import AppVideo from "../components/Home/AppVideo";
import AppAproach from "../components/Home/AppAproach";
export default {
  components: {
    AppBanner,
    AppAbout,
    AppOffer,
    AppValues,
    AppFunfacts,
    AppVideo,
    AppAproach
  },
  data() {
    return {

    };
  },
  mounted() {

  },
  head () {
    return {
      title: 'Best Preschool Franchise in India | No Royalty Fees',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'No royalty preschool franchise in India. We offer franchise options for play school, after-school and teacher training throughout India and abroad.'
        }
      ],
      meta: [
        {
          hid: 'keywords',
          name: 'keywords',
          content: 'preschool franchise, preschool franchise without royalty'
        }
      ],
      link: [
          { rel: 'canonical', href: 'https://franchise.beanstalkedu.com' }
            ]
    }
  },
};
</script>
<style lang="scss">
</style>
