<template>
 <section class="mt8">
    <div class="container">
    <v-tabs grow>
      <v-tab>Intro</v-tab>
      <v-tab>Why IIMTT</v-tab>
      <v-tab>Support Provided</v-tab>
      <v-tab>Investment Required</v-tab>

      <v-tab-item>
        <AppVideo />
      </v-tab-item>
      <v-tab-item>
        <AppWhy />
      </v-tab-item>
      <v-tab-item>
        <AppSupport />
      </v-tab-item>
      <v-tab-item>
        <AppInvestment />
      </v-tab-item>
    </v-tabs>
  </div>
 </section>
</template>
<script>
import AppVideo from '../components/TeacherTraining/AppVideo'
import AppWhy from '../components/TeacherTraining/AppWhy'
import AppSupport from '../components/TeacherTraining/AppSupport'
import AppInvestment from '../components/TeacherTraining/AppInvestment'
export default {
  components:{
    AppVideo,
    AppWhy,
    AppSupport,
    AppInvestment

  }
}
</script>
