<template>
  <section class="mt8">
    <div class="container">
         <nav  class="breadcrumb">
          <ol>
            <li class="breadcrumb-item active" aria-current="page">Home >  </li>
            <li class="breadcrumb-item active" aria-current="page">Support-System   </li>

          </ol>
        </nav>
      <section
        data-aos="fade-left"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
        class="py-5"
      >
        <v-card class="contentCenter">
          <v-row align="center">
            <v-col cols="12" md="6">
              <v-row align="center" justify="center">
                <v-img
                  :src="require(`@/assets/img/support/01.webp`)"
                  :lazy-src="require(`@/assets/img/support/01.webp`)"
                  max-height="350"
                  :contain="true"
                  max-width="350"
                  class="appWhyImage"
                ></v-img>
              </v-row>
            </v-col>
            <v-col cols="12" md="5">
              <v-row class="py-10 pa-5 flex-column">
                <p class="display-1 themeColor font-weight-bold">
                  UDAAN
                </p>
                <p class="headline mt-1">MANAGEMENT INFORMATION SYSTEM</p>
                <p class="body-1">
                  Our Franchisee MIS platform UDAAN provides a cutting edge
                  support system for franchisees to assume complete operational
                  control and achieve excellence in business. UDAAN provides our
                  business partners a platform to handle enquiries, admissions,
                  manage stock and inventory, academic management, order
                  management and so much more!
                </p>
              </v-row>
            </v-col>
          </v-row>
        </v-card>
      </section>
      <section
        data-aos="fade-right"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
        class="py-5"
      >
        <v-card class="contentCenter" outlined>
          <v-row align="center" class="flexCR">
            <v-col cols="12" md="5" offset-md="1">
              <v-row class="py-10 pa-5 flex-column">
                <p class="display-1 themeColor font-weight-bold">
                  TRAINING & DEVELOPMENT
                </p>
                <p class="headline"></p>
                <p class="body-1">
                  We offer the best induction program in the industry with a
                  barrage of specially curated engaging e-learning modules that
                  run into 100+ hours of induction training. We also conduct
                  in-house on-site training and face to face training at our
                  corporate office as part of the induction program for our
                  various franchise programs.
                </p>
                <p class="body-1">
                  Ongoing curriculum and administrative training is also
                  tendered to our partners at the start of every term. With
                  academics being the bedrock of The Beanstalkedu franchise
                  opportunity, training our partners is something that is not
                  just a necessity but also something we take a lot of pride in.
                </p>
              </v-row>
            </v-col>
            <v-col cols="12" md="6">
              <v-row align="center" justify="center">
                <v-img
                  :src="require(`@/assets/img/support/02.webp`)"
                  :lazy-src="require(`@/assets/img/support/02.webp`)"
                  max-height="350"
                  :contain="true"
                  max-width="350"
                  class="appWhyImage"
                ></v-img>
              </v-row>
            </v-col>
          </v-row>
        </v-card>
      </section>

      <section
        data-aos="fade-left"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
        class="py-5"
      >
        <v-card class="contentCenter" outlined>
          <v-row align="center">
            <v-col cols="12" md="6">
              <v-row align="center" justify="center">
                <v-img
                  :src="require(`@/assets/img/support/01.webp`)"
                  :lazy-src="require(`@/assets/img/support/01.webp`)"
                  max-height="350"
                  :contain="true"
                  max-width="350"
                  class="appWhyImage"
                ></v-img>
              </v-row>
            </v-col>
            <v-col cols="12" md="5">
              <v-row class="py-10 pa-5 flex-column">
                <p class="display-1 themeColor font-weight-bold">
                  SPARSH
                </p>
                <br />
                <p class="headline mt-1">PARTNER SERVICE PORTAL</p>
                <p class="body-1">
                  Through SPARSH, our international partner service portal, our
                  partners have the perfect platform to communicate with their
                  dedicated learning managers while tapping into the
                  organization wide resources available to improve their
                  understanding of the operating requirements of the industry
                  they are a part of.
                </p>
                <p class="body-1">
                  As part of the Infinity Service, partners are empowered
                  through SPARSH to schedule tasks for ILC Managers ranging from
                  admission counselling, enquiry handling, teacher and
                  coordinator interviews, etc. Through SPARSH, partners can
                  create and manage multiple centres and teams and post
                  unlimited queries through SPARSH’s in-built query handler to
                  remain deeply connect with their ILC Manager for any and every
                  requirement of the school.
                </p>
              </v-row>
            </v-col>
          </v-row>
        </v-card>
      </section>
      <section
        data-aos="fade-right"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
        class="py-5"
      >
        <v-card class="contentCenter" outlined>
          <v-row align="center" class="flexCR">
            <v-col cols="12" md="5" offset-md="1">
              <v-row class="py-10 pa-5 flex-column">
                <p class="display-1 themeColor font-weight-bold">
                  MARKETING PARTNER
                </p>
                <p class="headline"></p>
                <p class="body-1">
                  Our entire revenue model is based on one premise alone – our
                  partners succeed in their venture. So our marketing support
                  systems and services tendered is not based on some idle
                  promise aimed at just securing a sign up. Our online and
                  offline marketing effort is geared towards maximizing our
                  partners reach and brand equity – our fate is linked to your
                  success, and this makes us that much more hungry for YOUR
                  success!
                </p>
              </v-row>
            </v-col>
            <v-col cols="12" md="6">
              <v-row align="center" justify="center">
                <v-img
                  :src="require(`@/assets/img/support/04.webp`)"
                  :lazy-src="require(`@/assets/img/support/04.webp`)"
                  max-height="350"
                  :contain="true"
                  max-width="350"
                  class="appWhyImage"
                ></v-img>
              </v-row>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" md="10" offset-md="1">
              <p class="body-1">
                We work on an omni-channel strategy to maximize admissions for
                our partners –
              </p>
              <ul>
                <li>
                  <b>Social Media -</b> We have a robustly defined social media
                  strategy to target relevant target segments to propagate your
                  brand and garner more admissions.
                </li>
                <li>
                  <b>Local Marketing – </b> We work alongside you to sharpen
                  your local marketing efforts to create and promote YOUR brand.
                </li>
                <li>
                  <b> Local Search Optimization (online) –</b> Our digital
                  marketing expertise is leveraged to create a strong digital
                  brand identity for our partners.
                </li>
                <li>
                  <b>Web Presence -</b> We manage your web presence locally
                  through customized micro-sites and local listings to enhance
                  your brand perception amongst local audiences.
                </li>
                <li>
                  <b>Blog Sites - </b> We believe our partners go on to become
                  experts in early childhood education through active engagement
                  with us. As a key part of a 360 degree digital strategy, we
                  create the same impression through impressively written smart
                  content around early childhood that reinforces that perception
                  amongst your target customers.
                </li>
              </ul>
            </v-col>
          </v-row>
        </v-card>
      </section>

      <section
        data-aos="fade-left"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-once="true"
        class="py-5"
      >
        <v-card class="contentCenter" outlined>
          <v-row align="center">
            <v-col cols="12" md="6">
              <v-row align="center" justify="center">
                <v-img
                  :src="require(`@/assets/img/support/05.webp`)"
                  :lazy-src="require(`@/assets/img/support/05.webp`)"
                  max-height="350"
                  :contain="true"
                  max-width="350"
                  class="appWhyImage"
                ></v-img>
              </v-row>
            </v-col>
            <v-col cols="12" md="5">
              <v-row class="py-10 pa-5 flex-column">
                <p class="display-1 themeColor font-weight-bold">
                  TECHNOLOGY
                </p>
                <br />
                <p class="headline"></p>
                <p class="body-1">
                  We are a technology leader in this space and our partners
                  enjoy the benefit of being connected to their customers
                  through web and mobile apps that has been custom made for
                  their requirement by us.
                </p>
              </v-row>
            </v-col>
          </v-row>
        </v-card>
      </section>
    </div>
  </section>
</template>
<script>
export default {
  head () {
    return {
      title: 'Support-System',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'We are marching forward towards becoming India\'s most admired early childhood education service provider.'
        }
      ],
      link: [
          { rel: 'canonical', href: 'https://franchise.beanstalkedu.com/support-system' }
            ]
    }
  },
}
</script>
