<template>
  <section class="mt8">
    <div class="container">
      <nav  class="breadcrumb">
        <ol>
          <li class="breadcrumb-item active" aria-current="page">Home >  </li>
          <li class="breadcrumb-item active" aria-current="page">Preschool >  </li>
          <li class="breadcrumb-item active" aria-current="page">Franchise-opportunity </li>
        </ol>
      </nav>
      <v-tabs show-arrows v-model="active" center-active grow>
        <v-tab><nuxt-link to="/international-preschool"><div>Intro</div></nuxt-link></v-tab>
        <v-tab><nuxt-link to="/international-preschool/philosophy"><div>Philosophy</div></nuxt-link></v-tab>
        <v-tab><nuxt-link to="/international-preschool/curriculam"><div>Curriculum</div></nuxt-link></v-tab>
        <v-tab><nuxt-link to="/international-preschool/programs"><div>Programs</div></nuxt-link></v-tab>
        <v-tab><nuxt-link to="/international-preschool/franchise-opportunity"><div>Franchise Programs</div></nuxt-link></v-tab>

      </v-tabs>
        <AppFranchise/>
    </div>
  </section>
</template>
<script>
import AppFranchise from '../../../components/InternationalPreschool/AppFranchise'

export default {
  components: {

     AppFranchise,

  },
    data: ()=> ({
    active:4
  }),
  head () {
    return {
      title: 'Franchise programs from Beanstalkedu',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Invest in an international preschool franchise. No royalty fee, Unlimited Tenure, Diversified solution and credibility - all from India’s premier educational management company.'
        }
      ],
      meta: [
        {
          hid: 'keywords',
          name: 'keywords',
          content: 'Franchise programs'
        }
      ],
      link: [
          { rel: 'canonical', href: 'https://franchise.beanstalkedu.com/montessori-teacher-training/international-preschool/franchise-opportunity/' }
            ]
    }
  },
};
</script>
<style lang="scss" scoped>
</style>
